<nav aria-label="Page navigation">
    <ul class="pagination pg-blue">
        <li class="page-item" *ngFor="let page of total | slice : 0 : 35; let i = index" (click)="toSkip((limit * (page + 1)) - limit, i)"
        [ngClass]="{ 'active': ((i) * limit) == skip }">
        <a class="page-link">{{ page + 1 }}</a>
        </li>
    </ul>
</nav>
