<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Deal pending review</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && !loadingDeal && !loadingCompany">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5>Bank Lists</h5>
                <form [formGroup]="addBanks" (ngSubmit)="sendDeal()">
                    <div class="md-form">
                        <textarea class="md-textarea form-control" formControlName="message" cols="30" rows="10"></textarea>
                        <label class="active">Message</label>
                    </div>
                    <button class="btn btn-primary btn-block" [disabled]="addBanks.invalid"
                    type="submit"><div class="spinner-border spinner-border-sm" role="status" *ngIf="sendingBank"></div> SEND TO BANKS</button>
                    <app-infobox [info]="sendBankInfo"></app-infobox>
                </form>
                <button class="btn btn-danger btn-block waves-effect waves-light" 
                data-toggle="modal" data-target="#changeDealStatusModal" type="button">REJECT</button>
                <app-infobox [info]="infoList"></app-infobox>
                <div class="d-flex justify-content-center" *ngIf="loadingList">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <ng-container *ngFor="let list of lists; let i = index">
                    <button class="btn peach-gradient btn-block waves-effect"
                    data-toggle="collapse" [attr.data-target]="'#ls' + i" aria-expanded="false" [attr.aria-controls]="'ls' + i">{{ list?.name }}</button>
                    <div class="collapse" [id]="'ls' + i">
                        <div class="mt-3">
                            <ul class="list-group">
                                <li (click)="selectAll(list)" class="list-group-item clickable">SELECT ALL</li>
                                <ng-container *ngFor="let bank of list?.banksIDs">
                                    <li class="list-group-item clickable" [ngClass]="{'text-white bg-secondary': inArray(bank)}"
                                    (click)="addToselectedBank(bank)">{{ bank?.name }}</li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </ng-container>
                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5><b>Send By</b></h5>
                <p>{{ deal?.submittedBy?.name }}</p>
                <h5><b>Insert By</b></h5>
                <p>{{ company?.insertBy?.name }} <span class="d-inline-block py-1 px-1 peach-gradient text-white text-center rounded-sm shadow-sm">{{ company?.insertBy?.role }}</span></p>
                <p>{{ company?.createdOn | date: 'dd MMM, yyyy' }}</p>
                <h5><b>Company Information ({{ deal?.territories }})</b></h5>
                <hr>
                <div class="row mb-3">
                    <div class="col-md-6 company-info">
                        <span>Company:</span>
                        <a [routerLink]="['/companies/details', deal?.companyID?._id]"><h5>{{ deal?.companyID?.name }}</h5></a>
                    </div>
                    <div class="col-md-6 company-info">
                        <span>Tax ID:</span>
                        <h5>{{ deal?.companyID?.taxid }}</h5>
                    </div>
                    <div class="col-md-6 company-info">
                        <span>DBA:</span>
                        <h5>{{ deal?.companyID?.dba }}</h5>
                    </div>
                    <div class="col-md-6 company-info">
                        <span>Code:</span>
                        <h5>{{ deal?.companyCode }}</h5>
                    </div>
                </div>

                <h5><b>Members</b></h5>
                <hr>
                <div class="row" *ngFor="let member of company?.members">
                    <div class="col-md-4 company-info">
                        <span>Name</span>
                        <h5>{{ member?.name }}</h5>
                    </div>
                    <div class="col-md-4 company-info">
                        <span>Title</span>
                        <h5>{{ member?.title }}</h5>
                    </div>
                    <div class="col-md-4 company-info">
                        <span>Ownership</span>
                        <h5>{{ member?.ownership }}%</h5>
                    </div>
                    <div class="col-md-6 company-info">
                        <span>Phone(s):</span>
                        <ng-container *ngFor="let phone of member?.phone">
                        <span class="badge badge-primary d-inline-block mb-2 shadow-none">{{ phone | phone }}</span><br>
                        </ng-container>
                    </div>
                    <div class="col-md-6 company-info">
                        <span>Email(s):</span>
                        <ng-container *ngFor="let email of member?.email">
                        <span class="badge badge-secondary d-inline-block mb-2 shadow-none">{{ email }}</span><br>
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5><b>Statements</b></h5>
                <h6>Looking For: ${{ deal?.quantity | number }}</h6>
                <h6>Total deposits: ${{ totalDeposits | number }}</h6>
                <h6>Ave. Monthly Balances: ${{ aveBalances / (filterStatement(company?.additionalAccounts).length + filterStatement(company?.bankStatements).length) | number }}</h6>
                <div class="mt-3">
                    <button class="mx-0 btn btn-block peach-gradient waves-effect"
                    [disabled]="!company?.app" (click)="downloadFile(company?.app)">Filled Application</button>
                    <ul class="list-group">
                        <li class="list-group-item peach-gradient text-center text-white">Bank Statements</li>
                        <li class="list-group-item clickable"
                        *ngFor="let statement of filterStatement(company?.bankStatements)" (click)="downloadFile(statement.name)">
                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }} <span class="float-right text-success">{{ statement?.quantity | number }}</span></li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item aqua-gradient text-center text-white">Card Statements</li>
                        <li class="list-group-item clickable"
                        *ngFor="let statement of filterStatement(company?.cardStatements)" (click)="downloadFile(statement.name)">
                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }}</li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item aqua-gradient text-center text-white">Additional Accounts</li>
                        <li class="list-group-item clickable"
                        *ngFor="let statement of filterStatement(company?.additionalAccounts)" (click)="downloadFile(statement.name)">
                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }}</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5>History</h5>
                <hr>
                <div class="main-timeline mt-3">
                    <div class="timeline" *ngFor="let history of sortByDate(deal?.lifeHistory)">
                        <span class="timeline-icon"></span> <span class="year">{{ history?.dateChange | date: 'dd MMM, yyyy' }}</span>
                        <div class="timeline-content">
                            <h5 class="title">{{ history?.status }}</h5><span class="post">{{ history?.insertBy?.name }}</span>
                            <p class="description">{{ history?.statusReason }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="downloadFIle"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="downloadFIle">Downloading, please wait</h5>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" *ngIf="downloading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <app-infobox [info]="infoFile"></app-infobox>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!downloading" data-dismiss="modal">OK</button>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="changeDealStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeDeal"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="changeDeal">REJECT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="changeForm" (ngSubmit)="changeDeal()">
            <div class="md-form">
                <textarea class="md-textarea form-control" name="message" cols="30" rows="10"
                formControlName="message"></textarea>
                <label>Reason</label>
            </div>
            <button type="submit" class="btn btn-danger btn-block" (click)="changeDeal()" [disabled]="changingStatus || changeForm.invalid">
            <span *ngIf="changingStatus" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> REJECT</button>
        </form>
        <app-infobox [info]="infoDeal"></app-infobox>
    </div>
    </div>
</div>
</div>