<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Contact info</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center mb-5" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && contact">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5>{{ contact?.companyName }}</h5>
                <p>{{ contact?.name }}</p>
                <p>Phone: {{ contact?.phone }}</p>
                <p>Email: {{ contact?.email }}</p>
                <p>Address: {{ contact?.address }}</p>
                <p>State: {{ contact?.state }}</p>
                <p>ZIP: {{ contact?.zip }}</p>
                <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#updateModal">Record call</button>
                <button class="btn btn-block" (click)="toggleRecall()" 
                [ngClass]="{'btn-grey': contact?.recall, 'btn-success': !contact?.recall }"
                [disabled]="updating">{{ contact?.recall ? 'UNMARK' : 'MARK' }} FOR RECALL</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3>Calls</h3>
                <ng-container *ngFor="let call of contact?.calls?.reverse()">
                    <p class="mb-0">{{ call.note }}</p>
                    <p><b>{{ call.date | date: 'dd MMM, yyyy - h:mm a' }}</b></p>
                    <hr>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="callForm" (ngSubmit)="addCall()" autocomplete="off">
        <div class="modal-header">
            <h5 class="modal-title" id="updateModal">Register Call</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="md-form">
                    <textarea id="form7" class="md-textarea form-control" rows="3"
                    formControlName="note" [ngClass]="{'is-invalid': isInvalidInput('note') }"></textarea>
                    <label for="form7">Notes</label>
                </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="updating || callForm.invalid">
            <span *ngIf="updating" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> ADD CALL</button>
        </div>
    </form>
    </div>
</div>
</div>