<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Blacklist</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Tax ID</th>
                                <th>Owner</th>
                                <th>Owner SSN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let company of companies">
                                <td><a [routerLink]="['/companies/details/', company?._id]"><h5><b>{{ company?.name }}</b></h5><span class="d-block">{{ company?.dba }}</span></a></td>
                                <td><span class="d-block p-2 peach-gradient text-white text-center rounded-sm shadow-sm waves-effect waves-ligth">{{ company?.taxid }}</span></td>
                                <td><span class="d-block"> {{ company?.members[0].name }}</span></td>
                                <td><span class="d-block p-2 peach-gradient text-white text-center rounded-sm shadow-sm waves-effect waves-ligth">{{ company?.members[0].ssn }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>