<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Applications</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <app-infobox [info]="info"></app-infobox>
                <div class="d-flex justify-content-center" *ngIf="loading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="table-responsive" *ngIf="!loading">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Tax ID</th>
                            <th>Code</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let application of applications">
                            <td><a [routerLink]="['/applications/details/', application?._id]"><h5><b>{{ application?.name }}</b></h5><span class="d-block">{{ application?.dba }}</span></a></td>
                            <td><span class="d-block"> {{ application?.phone[0] | phone }}</span></td>
                            <td><span class="d-block p-2 peach-gradient text-white text-center rounded-sm shadow-sm waves-effect waves-ligth">{{ application?.taxid }}</span></td>
                            <td>{{ application.code }}</td>
                            <td>{{ application.createdOn | date: 'dd MMM, yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                    <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>