<div class="card shadow-lg auth-card">
    <div class="card-body">
        <div class="px-3">
            <div class="auth-logo-box">
                <div class="auth-logo-circle">
                    <img src="../../../../assets/logo-left.jpg" height="55" alt="logo" class="auth-logo">
                </div>
            </div>
            <div class="text-center auth-logo-text">
                <h4 class="mt-0 mb-3 mt-5">Verify your account</h4>
            </div>

            <form class="auth-form my-4" [formGroup]="verifyForm" (ngSubmit)="verify()">
                <div class="form-group">
                    <label for="code">Code</label>
                    <div class="input-group mb-3">
                        <span class="auth-form-icon" [ngClass]="{'bg-danger text-white': isInvalidInput('hash') }"><i class="dripicons-dots-3"></i></span>
                        <input type="text" class="form-control" id="code" placeholder="Enter your code activation" formControlName="hash">
                    </div>
                </div>
                <div class="form-group mt-4">
                    <app-infobox [info]="info"></app-infobox>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-secondary btn-round btn-block waves-effect waves-ligth btn-sm" type="button"
                        [disabled]="resend" (click)="resendCode()">
                        <div class="spinner-border spinner-border-sm" role="status" *ngIf="resend"></div> Resend Code</button>
                    </div>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary btn-round btn-block waves-effect waves-ligth" type="submit"
                        [disabled]="verifyForm.invalid || sending">
                        <div class="spinner-border spinner-border-sm" role="status" *ngIf="sending"></div> Verify <i class="fas fa-sign-in-alt ml-1"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>