<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Dashboard - Monthly Stats</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="row">
    <div class="col-lg-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <div style="display: block">
                    <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                    [colors]="chartColors" [options]="chartOptions" [legend]="true"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 align-self-center">
                                <div class="data-icon"><i class="dripicons-user-id rounded-circle bg-soft-success"></i></div>
                            </div>
                            <div class="col-8">
                                <h3>{{ stats?.companies | number }}</h3><p class="text-muted font-14 mb-0">Companies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 align-self-center">
                                <div class="data-icon"><i class="dripicons-document rounded-circle bg-soft-secondary"></i></div>
                            </div>
                            <div class="col-8">
                                <h3>{{ stats?.deals?.total | number }}</h3><p class="text-muted font-14 mb-0">Deals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 align-self-center">
                                <div class="data-icon"><i class="dripicons-document-edit rounded-circle bg-soft-warning"></i></div>
                            </div>
                            <div class="col-8">
                                <h3>{{ stats?.deals?.closed | number }}</h3><p class="text-muted font-14 mb-0">Closed Deals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 align-self-center">
                                <div class="data-icon"><i class="dripicons-document-remove rounded-circle bg-soft-pink"></i></div>
                            </div>
                            <div class="col-8">
                                <h3>{{ stats?.deals?.open | number }}</h3><p class="text-muted font-14 mb-0">Open Deals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card client-card">
                <h6 class="text-center mt-2">Employee of the week</h6>
                <img *ngIf="stats?.employeeOfTheWeek?.photo" [src]="url + prepairPhoto(stats?.employeeOfTheWeek)" class="w-100 h-auto">
                <img *ngIf="!stats?.employeeOfTheWeek?.photo" src="../../../../../assets/noimage.jpg" class="w-100 h-auto">
            <div class="card-body text-center">
                <h5 class="client-name">{{ stats?.employeeOfTheWeek?.userID?.name }}</h5>
                <span class="text-muted mr-3 d-block"><i class="dripicons-calendar mr-2 text-info"></i> {{ stats?.employeeOfTheWeek?.createdOn | date: 'dd MMM, yyyy' }}</span>
                <button class="btn mt-3 btn-block btn-success" type="button">$ {{  stats?.employeeOfTheWeek?.quantity | number }}</button>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-header default-color text-white"><h6 class="mb-0">Tasks</h6></div>
                <div class="scrollbar scrollbar-primary">

                    <div class="list-group task-list">
                        <div class="list-group-item list-group-item-action" *ngFor="let task of stats?.tasks">
                            <a [routerLink]="['/calendar']">
                                <h6>{{ task?.title }}<ng-container>: {{ task.reference?.companyID?.name }}</ng-container></h6> <span class="text-muted">{{ task?.reminderDate | date: 'dd MMM, yyyy' }}</span>
                            </a>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>