<div class="topbar position-fixed">
<div class="topbar-left">
    <a href="#" class="logo">
        <span><img src="../assets/logo-left.jpg" alt="logo-small" class="logo-sm"> </span>
        <span><img src="../assets/logo-rigth.jpg" alt="logo-small" class="logo-lg"> </span>
    </a>
</div>
<nav class="navbar-custom" #navbar (window:resize)="checkWidth($event)">
    <ul class="list-unstyled topbar-nav float-right mb-0">
        <li class="dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
            <img *ngIf="auth.getUserInfo()?.user?.photo" [src]="url + prepairPhoto(auth.getUserInfo()?.user)" class="rounded-circle img-fluid">
            <img *ngIf="!auth.getUserInfo()?.user?.photo" src="../../../../assets/user.jpg" class="rounded-circle img-fluid">
            <span class="ml-1 nav-user-name hidden-sm">{{ auth.getUserInfo()?.user?.name }} <i class="mdi mdi-chevron-down"></i></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
            <a class="dropdown-item" [routerLink]="['/users/details', auth.getUserInfo()?.user._id]"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="auth.logOut()"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
        </div>
        </li>
    </ul>
    <ul class="list-unstyled topbar-nav mb-0">
        <li><button (click)="config.hideMenu = !config.hideMenu " class="button-menu-mobile nav-link"><i class="dripicons-menu nav-icon"></i></button></li>
        <li class="hide-phone app-search">
        <form role="search" class=""><input type="text" placeholder="Search..." class="form-control"> <a href=""><i
                class="fas fa-search"></i></a></form>
        </li>
    </ul>
</nav>
</div>