<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">User</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="user">
    <div class="col-12">
        <div class="card">
            <div class="card-body user-profile-bg">
                <div class="met-profile">
                    <div class="row">
                        <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                            <div class="met-profile-main">
                                <div class="met-profile-main-pic">
                                    <img *ngIf="user?.photo" [src]="url + prepairPhoto(user)" class="rounded-circle img-fluid">
                                    <img *ngIf="!user?.photo" src="../../../../assets/user.jpg" class="rounded-circle img-fluid">
                                    <label for="photo" class="fro-profile_main-pic-change">
                                        <i class="text-white fas fa-camera" *ngIf="!sending"></i>
                                        <div class="spinner-border text-white" *ngIf="sending" role="status"></div>
                                        <input (change)="changePhoto($event)" accept="image/*" class="d-none" type="file" id="photo">
                                    </label>
                                </div>
                                <div class="met-profile_user-detail">
                                    <h5 class="met-user-name">{{ user?.name }}</h5>
                                    <p class="mb-0 met-user-name-post">{{ user?.role }} - Verified <i [ngClass]="{'text-success': user?.verifiedEmail }" class="fas fa-circle"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ml-auto">
                            <div class="list-unstyled personal-detail text-white">
                                <li class="mb-2"><i class="dripicons-phone mr-2 text-info font-18"></i> <b>Created on </b>: {{ user?.createdOn | date: 'dd MMM, yyyy - h:mm a' }}</li>
                                <li class="mb-2"><i class="dripicons-mail mr-2 text-info font-18"></i> <b>Email </b>: {{ user?.email }}</li>
                                <li class="mb-2"><i class="dripicons-clock mr-2 text-info font-18"></i> <b>Last Connection </b>: {{ user?.lastActivity | date: 'dd MMM, yyyy - h:mm a' }}</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card-body">
                <ul class="nav nav-pills mb-0">
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary waves-effect waves-ligth" [routerLink]="['/users/details', user?._id ]">EDIT</button>
                        <button type="button" class="btn btn-info waves-effect waves-ligth">RESET PASSWORD</button>
                        <button type="button" class="btn btn-danger waves-effect waves-ligth" data-toggle="modal" data-target="#deleteModal">DELETE</button>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteUser"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteUser">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this user?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="deleting">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()" [disabled]="deleting">
        <span *ngIf="deleting" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> DELETE</button>
    </div>
    </div>
</div>
</div>