<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Application Details</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center mb-5" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && application">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5><b>{{ application?.name }}</b></h5>
                <p>{{ application?.dba }}</p>
                <hr>
                <ul class="nav company-info flex-column lighten-4 py-4">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'application' }" (click)="tab='application'">
                        <i class="dripicons-checklist mr-1"></i> Application</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'members' }" (click)="tab='members'">
                        <i class="dripicons-user-group mr-1"></i> Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'statements' }" (click)="tab='statements'">
                        <i class="dripicons-document-new mr-1"></i> Statements</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <ng-container *ngIf="tab === 'application'">
                <h5><b>Application Information</b></h5>
                <hr>
                <div class="row">
                    <div class="col-md-3 company-info">
                        <span>Looking for:</span>
                        <h5>{{ application?.lookingFor | number }}</h5>
                    </div>
                    <div class="col-md-3 company-info">
                        <span>Tax ID:</span>
                        <h5>{{ application?.taxid }}</h5>
                    </div>
                    <div class="col-md-3 company-info">
                        <span>Service:</span>
                        <h5>{{ application?.service }}</h5>
                    </div>
                    <div class="col-md-3 company-info">
                        <span>IP:</span>
                        <h5>{{ application?.ipRequest }}</h5>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3 company-info">
                        <span>Address:</span>
                        <h5>{{ application?.address }}</h5>
                    </div>
                    <div class="col-md-3 company-info">
                        <span>City:</span>
                        <h5>{{ application?.city }}</h5>
                    </div>
                    <div class="col-md-3 company-info">
                        <span>State:</span>
                        <h5>{{ application?.state }}</h5>
                    </div>
                    <div class="col-md-2 company-info">
                        <span>ZIP:</span>
                        <h5>{{ application?.zip }}</h5>
                    </div>
                </div>
                <h5><b>Contact</b></h5>
                <hr>
                <div class="row">
                    <div class="col-md-6 company-info">
                        <span>Phone(s):</span>
                        <ng-container *ngFor="let phone of application?.phone">
                        <span class="badge badge-primary d-inline-block mb-2 shadow-none">{{ phone | phone }}</span><br>
                        </ng-container>
                    </div>
                    <div class="col-md-6 company-info">
                        <span>Email(s):</span>
                        <ng-container *ngFor="let email of application?.email">
                        <span class="badge badge-secondary d-inline-block mb-2 shadow-none">{{ email }}</span><br>
                        </ng-container>
                    </div>
                </div>
                </ng-container>

                <ng-container *ngIf="tab === 'members'">
                <h5><b>Members</b></h5>
                <hr>
                    <div class="row" *ngFor="let member of application?.members">
                        <div class="col-md-4 company-info">
                            <span>Name</span>
                            <h5>{{ member?.name }}</h5>
                        </div>
                        <div class="col-md-4 company-info">
                            <span>Title</span>
                            <h5>{{ member?.title }}</h5>
                        </div>
                        <div class="col-md-4 company-info">
                            <span>Ownership</span>
                            <h5>{{ member?.ownership }}%</h5>
                        </div>
                        <div class="col-md-6 company-info">
                            <span>Address</span>
                            <h5>{{ member?.address }}, {{ member?.city }}, {{ member?.state }}, {{ member?.zip }}</h5>
                        </div>
                        <div class="col-md-6 company-info">
                            <span>Birthdate</span>
                            <h5>{{ setBirthdate(member?.birthdate) | date: 'dd MMM, yyyy' }}</h5>
                        </div>
                        <div class="col-md-6 company-info">
                            <span>Phone(s):</span>
                            <ng-container *ngFor="let phone of member?.phone">
                            <span class="badge badge-primary d-inline-block mb-2 shadow-none">{{ phone | phone }}</span><br>
                            </ng-container>
                        </div>
                        <div class="col-md-6 company-info">
                            <span>Email(s):</span>
                            <ng-container *ngFor="let email of member?.email">
                            <span class="badge badge-secondary d-inline-block mb-2 shadow-none">{{ email }}</span><br>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                
                <ng-container *ngIf="tab === 'statements'">
                <h5><b>Statements</b></h5>
                <hr>
                    <button class="btn btn-block peach-gradient waves-effect" [disabled]="!application?.app"
                    (click)="downloadFile(application?.app)">Filled Application</button>
                    <ng-container *ngFor="let period of periods;">
                    <button class="btn blue-gradient btn-block waves-effect" data-toggle="collapse" [attr.data-target]="'#st' + period" aria-expanded="false"
                    [attr.aria-controls]="'st' + period">{{ period }}</button>
                            
                            <!-- Collapsible element -->
                            <div class="collapse" [id]="'st' + period">
                                <div class="mt-3">
                                    <ul class="list-group">
                                        <li class="list-group-item peach-gradient text-center text-white">Bank Statements</li>
                                        <li class="list-group-item clickable"
                                        *ngFor="let statement of filterStatement(application?.bankStatements, period)" (click)="downloadFile(statement.name)">
                                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }} <span class="float-right text-success">{{ statement?.quantity | number }}</span></li>
                                    </ul>
                                    <ul class="list-group">
                                        <li class="list-group-item aqua-gradient text-center text-white">Card Statements</li>
                                        <li class="list-group-item clickable"
                                        *ngFor="let statement of filterStatement(application?.cardStatements, period)" (click)="downloadFile(statement.name)">
                                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }}</li>
                                    </ul>
                                    <ul class="list-group">
                                        <li class="list-group-item aqua-gradient text-center text-white">Additional Accounts</li>
                                        <li class="list-group-item clickable"
                                        *ngFor="let statement of filterStatement(application?.additionalAccounts, period)" (click)="downloadFile(statement.name)">
                                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }}</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- / Collapsible element -->
                    </ng-container>
                
                </ng-container>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="downloadFIle"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="downloadFIle">Downloading, please wait</h5>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" *ngIf="downloading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <app-infobox [info]="infoFile"></app-infobox>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!downloading" data-dismiss="modal">OK</button>
    </div>
    </div>
</div>
</div>

