<div class="card shadow-lg auth-card">
    <div class="card-body">
        <div class="px-3">
            <div class="auth-logo-box">
                <div class="auth-logo-circle">
                    <img src="../../../../assets/logo-left.jpg" height="55" alt="logo" class="auth-logo">
                </div>
            </div>
            <div class="text-center auth-logo-text">
                <h4 class="mt-0 mb-3 mt-5">Let's Get Started</h4>
                <p class="text-muted mb-0">Sign in to continue to BMF CRM</p>
            </div>
            <form class="auth-form my-4" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group mb-3">
                        <span class="auth-form-icon" [ngClass]="{'bg-danger text-white': isInvalidInput('email') }"><i class="dripicons-user"></i></span>
                        <input type="text" class="form-control" id="email" placeholder="Enter your email" formControlName="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="userpassword">Password</label>
                    <div class="input-group mb-3">
                        <span class="auth-form-icon" [ngClass]="{'bg-danger text-white': isInvalidInput('password') }"><i class="dripicons-lock"></i></span>
                        <input type="password" class="form-control" id="userpassword" placeholder="Enter password" formControlName="password">
                    </div>
                </div>
                <div class="form-group mt-4">
                    <!-- <a class="text-muted font-13"><i class="dripicons-lock"></i> Forgot password?</a> -->
                </div>
                <div class="form-group mt-4">
                    <app-infobox [info]="info"></app-infobox>
                </div>
                <div class="form-group mb-0 row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary btn-round btn-block waves-effect waves-ligth" type="submit"
                        [disabled]="!loginForm.valid || loading">Log In <i class="fas fa-sign-in-alt ml-1"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>