<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Lists</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="filters.name" (keyup)="getContacts()" autocomplete="off">
                            <label>Name</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" (change)="getContacts()" checked="false" [(ngModel)]="filters.recall" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked" >Recall</label>
                        </div>
                        <div class="md-form">
                            <button type="button" class="btn btn-primary" data-toggle="modal" [routerLink]="['/contact-list/add']">+ Add New</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" *ngIf="!loading">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Company</th>
                            <th>Calls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of contacts">
                            <td><a [routerLink]="['/contact-list/contact/detail/', contact?._id]"><h5><b>{{ contact?.companyName }}</b></h5>
                                <span class="d-block">{{ contact?.name }}</span></a></td>
                            <td>{{ contact?.calls.length  }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="col-lg-12">
                    <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>