<div [ngClass]="info.class" role="alert" *ngIf="info?.show">
<ng-container *ngIf="info.message?.code == 11000 else message">
    Duplicate Entry
</ng-container>
<ng-template #message>
    {{ info.message }}
</ng-template>
<span *ngIf="!info?.persist">{{ countDown() }}</span>
</div>