<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Banks</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <div class="md-form">
                                    <input type="text" id="bankName" class="form-control" [(ngModel)]="filters.name" (keyup)="getBanks()" autocomplete="off">
                                    <label for="bankName">Bank</label>
                                </div>
                                <div class="md-form">
                                    <input type="text" id="managerName" class="form-control" [(ngModel)]="filters.contactName" (keyup)="getBanks()" autocomplete="off">
                                    <label for="managerName">Manager</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" (click)="changeClasification('A')" class="custom-control-input" id="classA">
                                    <label class="custom-control-label" for="classA">A</label>
                                </div>
                                
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" (click)="changeClasification('B')" class="custom-control-input" id="classB">
                                    <label class="custom-control-label" for="classB">B</label>
                                </div>
                                
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" (click)="changeClasification('C')" class="custom-control-input" id="classC">
                                    <label class="custom-control-label" for="classC">C</label>
                                </div>

                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" (click)="changeClasification('D')" class="custom-control-input" id="classD">
                                    <label class="custom-control-label" for="classD">D</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="PR" (click)="changeTerritory('PR')">
                                    <label class="custom-control-label" for="PR">PR</label>
                                </div>
                                
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="USA" (click)="changeTerritory('USA')">
                                    <label class="custom-control-label" for="USA">USA</label>
                                </div>
                                
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="CANADA" (click)="changeTerritory('CANADA')">
                                    <label class="custom-control-label" for="CANADA">CANADA</label>
                                </div>
    
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="UK" (click)="changeTerritory('UK')">
                                    <label class="custom-control-label" for="UK">UK</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-lg-right mt-3 mt-lg-0">
                                <button type="button" class="btn btn-primary waves-effect waves-ligth" data-toggle="modal" data-animation="bounce"
                                [routerLink]="['/banks/add']">+ Add New</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="circle-counter bounce animated fast peach-gradient text-white mt-3">
                            <span>{{ totalbanks }} Banks</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading">
    <div class="col-lg-6" *ngFor="let bank of banks">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="media">
                            <img class="d-flex align-self-center mr-3 rounded-circle" src="../../../../assets/bank.png" alt="" height="50">
                            <div class="media-body align-self-center">
                                <a [routerLink]="['/banks/details', bank?._id]"><h4 class="mt-0 mb-2 font-16">{{ bank?.name }}</h4></a>
                                <ul class="list-inline mb-0 text-muted">
                                    <li class="list-inline-item mr-2">
                                        <span><i class="fas fa-map-marker-alt mr-2 text-info font-14"></i></span>{{ bank?.territories }}
                                    </li>
                                    <li class="list-inline-item mr-2">
                                        <span><i class="far fa-envelope mr-2 text-info font-14"></i></span>{{ bank?.email[0] }}
                                    </li>
                                    <li class="list-inline-item">
                                        <span><i class="fas fa-mobile-alt mr-2 text-info font-14"></i></span>{{ bank?.phone[0] | phone }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 align-self-center">
                        <div class="text-right">
                            <a class="clickable" class="mr-2" [routerLink]="['/banks/edit', bank?._id]"><i class="fas fa-edit text-info font-16"></i></a>
                            <a class="clickable" (click)="deleteID = bank._id" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="col-lg-12">
        <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteBank"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteBank">Delete Bank</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this bank?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="deleting">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="deleteBank()" [disabled]="deleting">
        <span *ngIf="deleting" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> DELETE</button>
    </div>
    </div>
</div>
</div>