<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Bank Details</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center mb-5" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && bank">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">{{ bank?.name }} - {{ bank?.acronym }}</h4>
                <hr class="my-3">
                <h6><b>Contact Name: </b> {{ bank?.contactName }}</h6>
                <h6><b>Email: </b> <span class="badge badge-default mr-2" *ngFor="let mail of bank?.email">{{ mail }}</span></h6>
                <h6><b>Phone: </b> <span class="badge badge-secondary mr-2" *ngFor="let phone of bank?.phone">{{ phone | phone }}</span></h6>
                <div class="row">
                    <div class="col-md-12">
                        <h6><b>Address: </b> {{ bank?.address }}</h6>
                    </div>
                    <div class="col-md-5">
                        <h6><b>City: </b> {{ bank?.city }}</h6>
                    </div>
                    <div class="col-md-5">
                        <h6><b>State: </b> {{ bank?.state }}</h6>
                    </div>
                    <div class="col-md-2">
                        <h6><b>Zip: </b> {{ bank?.zip }}</h6>
                    </div>
                </div>
                <hr class="my-2">
                <button class="btn btn-primary waves-effect waves-ligth" [routerLink]="['/banks/edit', bank?._id]">EDIT</button>
                <button class="btn btn-danger waves-effect waves-ligth" data-toggle="modal" data-target="#deleteModal">DELETE</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <ul class="list-inline circle-style">
                    <li class="sunny-morning-gradient" *ngFor="let territory of bank?.territories">{{ territory }}</li>
                </ul>
                <ul class="list-inline circle-style">
                    <li class="aqua-gradient" *ngFor="let cls of bank?.classification">{{ cls }}</li>
                </ul>
                <hr class="my-2">
                <h6><b>Register By: </b> {{ bank?.insertBy?.name }}</h6>
                <h6><b>Role: </b> <span class="badge badge-secondary mr-2">{{ bank?.insertBy?.role }}</span></h6>
                <h6><b>Email: </b> <span class="badge badge-default mr-2">{{ bank?.insertBy?.email }}</span></h6>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteBank"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteBank">Delete Bank</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this bank?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="deleting">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="deleteBank()" [disabled]="deleting">
        <span *ngIf="deleting" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> CONFIRM</button>
    </div>
    </div>
</div>
</div>