<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Edit Bank</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="row" *ngIf="!loading">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="bankForm" (ngSubmit)="sendBank()" autocomplete="off">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">Bank Name</label>
                                <div class="col-sm-10"><input class="form-control" type="text" formControlName="name" [ngClass]="{'is-invalid': isInvalidInput('name') }"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">Acronym</label>
                                <div class="col-sm-10">
                                    <input formControlName="acronym" class="form-control" type="text" [ngClass]="{'is-invalid': isInvalidInput('acronym') }">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">Address</label>
                                <div class="col-sm-10">
                                    <input placeholder="Address" formControlName="address" class="form-control mb-2" type="text"
                                    [ngClass]="{'is-invalid': isInvalidInput('address') }">
                                </div>
                                <div class="col-sm-4 offset-sm-2">
                                    <input placeholder="City" formControlName="city" class="form-control mb-2" type="text"
                                    [ngClass]="{'is-invalid': isInvalidInput('city') }">
                                </div>
                                <div class="col-sm-4">
                                    <input placeholder="State" formControlName="state"
                                    class="form-control mb-2" type="text" [ngClass]="{'is-invalid': isInvalidInput('state') }">
                                </div>
                                <div class="col-sm-2">
                                    <input placeholder="ZIP" formControlName="zip" class="form-control mb-2" type="text"
                                    [ngClass]="{'is-invalid': isInvalidInput('zip') }">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">Manager</label>
                                <div class="col-sm-10"><input formControlName="contactName" class="form-control" type="text"
                                    [ngClass]="{'is-invalid': isInvalidInput('contactName') }"></div>
                            </div>
                            <div class="form-group">
                                <div class="offset-sm-2 col-sm-10"><button type="submit"
                                    [disabled]="!bankForm.valid || sending || invalidLength" class="btn btn-block btn-primary ml-0 waves-effect waves-ligth">
                                    <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="sending"></div> SEND</button></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Phone</label>
                                <div class="input-group mb-2" formArrayName="phone" *ngFor="let phone of getArray('phone'); let i = index;">
                                    <div class="input-group-prepend clickable" (click)="removeInArray('phone', i)">
                                        <span class="input-group-text"><i class="far fa-trash-alt"></i></span>
                                    </div>
                                    <input type="text" formControlName="{{i}}" class="form-control"
                                    [ngClass]="{'is-invalid': isInvalidInputInArray(i, 'phone') }">
                                </div>
                                <button type="button" class="btn btn-default btn-sm ml-0 waves-effect waves-ligth" (click)="increaseArray('phone')">Add phone <i class="fas fa-phone"></i></button>
                            </div>
                            <div class="form-group =">
                                <label>Email</label>
                                <div class="input-group mb-2" formArrayName="email" *ngFor="let mail of getArray('email'); let i = index;">
                                    <div class="input-group-prepend clickable" (click)="removeInArray('email', i)">
                                        <span class="input-group-text"><i class="far fa-trash-alt"></i></span>
                                    </div>
                                    <input type="text" formControlName="{{i}}" class="form-control"
                                    [ngClass]="{'is-invalid': isInvalidInputInArray(i, 'email') }">
                                </div>
                                <button type="button" class="btn btn-default btn-sm ml-0 waves-effect waves-ligth" (click)="increaseArray('email')">Add email <i class="far fa-envelope"></i></button>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="classA" 
                                    [checked]="inClass('A', 'classification')" (click)="toggleClass('A', 'classification')">
                                    <label class="custom-control-label" for="classA">A</label>
                                </div>
                                
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="classB" 
                                    [checked]="inClass('B', 'classification')" (click)="toggleClass('B', 'classification')">
                                    <label class="custom-control-label" for="classB">B</label>
                                </div>
                                
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="classC" 
                                    [checked]="inClass('C', 'classification')" (click)="toggleClass('C', 'classification')">
                                    <label class="custom-control-label" for="classC">C</label>
                                </div>

                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="classD" 
                                    [checked]="inClass('D', 'classification')" (click)="toggleClass('D', 'classification')">
                                    <label class="custom-control-label" for="classD">D</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="PR"
                                    [checked]="inClass('PR', 'territories')" (click)="toggleClass('PR', 'territories')">
                                    <label class="custom-control-label" for="PR">PR</label>
                                </div>
                                
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="USA" 
                                    [checked]="inClass('USA', 'territories')" (click)="toggleClass('USA', 'territories')">
                                    <label class="custom-control-label" for="USA">USA</label>
                                </div>
                                
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="CANADA"
                                    [checked]="inClass('CANADA', 'territories')" (click)="toggleClass('CANADA', 'territories')">
                                    <label class="custom-control-label" for="CANADA">CANADA</label>
                                </div>
    
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="UK" 
                                    [checked]="inClass('UK', 'territories')" (click)="toggleClass('UK', 'territories')">
                                    <label class="custom-control-label" for="UK">UK</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>