<div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Add Company - {{ tmpFolder }}</h4>
            </div>
        </div>
    </div>
    <app-infobox [info]="info"></app-infobox>
    <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row" *ngIf="!loading && company">
        <div class="col-md-12">
            <ul class="stepper stepper-horizontal">
                <li [ngClass]="{'active': step === 1 }">
                    <a (click)="step = 1">
                    <span class="circle">1</span>
                    <span class="label">Business Details</span>
                    </a>
                </li>
                <li [ngClass]="{'active': step === 2 }">
                    <a (click)="step = 2">
                    <span class="circle">2</span>
                    <span class="label">Owner Details</span>
                    </a>
                </li>
                <li [ngClass]="{'active': step === 3 }">
                    <a (click)="step = 3">
                    <span class="circle">3</span>
                    <span class="label">Documents</span>
                    </a>
                </li>
            </ul>
            <form [formGroup]="companyForm" (ngSubmit)="sendCompany()">
            <div class="card" [ngClass]="{'d-none': step !== 1}">
                <div class="card-body">
                    <div class="row">
    
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="text" formControlName="name" [ngClass]="{'is-invalid': isInvalidInput(getInput('name')) }">
                                <label [ngClass]="{'active': getInput('name').value }">Company Name</label>
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="dba" [ngClass]="{'is-invalid': isInvalidInput(getInput('dba')) }">
                                <label [ngClass]="{'active': getInput('dba').value }">DBA</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="service" [ngClass]="{'is-invalid': isInvalidInput(getInput('service')) }">
                                <label [ngClass]="{'active': getInput('service').value }">Service</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="address" [ngClass]="{'is-invalid': isInvalidInput(getInput('address')) }">
                                <label [ngClass]="{'active': getInput('address').value }">Address</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="city" [ngClass]="{'is-invalid': isInvalidInput(getInput('city')) }">
                                <label [ngClass]="{'active': getInput('city').value }">City</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="state" [ngClass]="{'is-invalid': isInvalidInput(getInput('state')) }">
                                <label [ngClass]="{'active': getInput('state').value }">State</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="zip" [ngClass]="{'is-invalid': isInvalidInput(getInput('zip')) }">
                                <label [ngClass]="{'active': getInput('zip').value }">ZIP</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Phone</label>
                            <div class="input-group mb-2" formArrayName="phone" *ngFor="let phone of getArray('phone'); let i = index;">
                                    <div class="input-group-prepend clickable" (click)="removeInArray('phone', i)">
                                    <span class="input-group-text"><i class="far fa-trash-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" formControlName="{{i}}" [ngClass]="{'is-invalid': isInvalidInput(phone) }">
                            </div>
                            <button type="button"
                            (click)="increaseArray('phone')"
                            class="btn btn-default btn-sm ml-0 waves-effect waves-ligth">Add phone <i class="fas fa-phone"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Email</label>
                            <div class="input-group mb-2" formArrayName="email" *ngFor="let mail of getArray('email'); let i = index;">
                                    <div class="input-group-prepend clickable" (click)="removeInArray('email', i)">
                                    <span class="input-group-text"><i class="far fa-trash-alt"></i></span>
                                </div>
                                <input type="text" formControlName="{{i}}" class="form-control"
                                [ngClass]="{'is-invalid': isInvalidInput(mail) }">
                            </div>
                            <button type="button" (click)="increaseArray('email')"
                            class="btn btn-default btn-sm ml-0 waves-effect waves-ligth">Add email <i class="fas fa-phone"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card" [ngClass]="{'d-none': step !== 2}">
                <div class="card-body">
                    <div class="mb-4" formArrayName="members" *ngFor="let member of getArray('members'); let i = index;">
                    <h4>Member</h4>
                    <hr class="my-3">
                    <div class="row" [formGroupName]="i">
    
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="text" formControlName="name"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('name')) }">
                                <label [ngClass]="{'active': member.get('name').value }">Name</label>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="text" formControlName="title"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('title')) }">
                                <label [ngClass]="{'active': member.get('title').value }">Title</label>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="text" formControlName="ssn"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('ssn')) }">
                                <label [ngClass]="{'active': member.get('ssn').value }">SSN</label>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="number" formControlName="ownership"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('ownership')) }">
                                <label [ngClass]="{'active': member.get('ownership').value }">Ownership %</label>
                            </div>
                        </div>
    
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Birthdate</label>
                                <input class="form-control" type="date" formControlName="birthdate"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('birthdate')) }">
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="text" formControlName="address"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('address')) }">
                                <label [ngClass]="{'active': member.get('address').value }">Address</label>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="text" formControlName="city"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('city')) }">
                                <label [ngClass]="{'active': member.get('city').value }">City</label>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <div class="md-form">
                                <input class="form-control" type="text" formControlName="state"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('state')) }">
                                <label [ngClass]="{'active': member.get('state').value }">State</label>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <div class="md-form">
                                <input class="form-control" type="text" formControlName="zip"
                                [ngClass]="{'is-invalid': isInvalidInput(member.get('zip')) }">
                                <label [ngClass]="{'active': member.get('zip').value }">ZIP</label>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Phone</label>
                            <div class="input-group mb-2" formArrayName="phone" *ngFor="let phone of getArrayNested(i, 'members', 'phone'); let j = index;">
                                    <div class="input-group-prepend clickable" (click)="removeInNestedArray(i, j, 'phone', 'members')">
                                    <span class="input-group-text"><i class="far fa-trash-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" formControlName="{{j}}" [ngClass]="{'is-invalid': isInvalidInput(phone) }">
                            </div>
                            <button type="button"
                            class="btn btn-default btn-sm ml-0 waves-effect waves-ligth" 
                            (click)="increaseArrayInNestedArray(i, 'phone', 'members')">Add phone <i class="fas fa-phone"></i></button>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                            <label>Email</label>
                            <div class="input-group mb-2" formArrayName="email" *ngFor="let email of getArrayNested(i, 'members', 'email'); let j = index;">
                                    <div class="input-group-prepend clickable" (click)="removeInNestedArray(i, j, 'email', 'members')">
                                    <span class="input-group-text"><i class="far fa-trash-alt"></i></span>
                                </div>
                                <input type="text" class="form-control" formControlName="{{j}}"
                                [ngClass]="{'is-invalid': isInvalidInput(email) }">
                            </div>
                            <button type="button" class="btn btn-default btn-sm ml-0 waves-effect waves-ligth"
                            (click)="increaseArrayInNestedArray(i, 'email', 'members')">Add email <i class="fas fa-phone"></i></button>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger btn-sm ml-0 waves-effect waves-ligth"
                            (click)="removeInArray('members', i)">DELETE MEMBER <i class="fas fa-minus-circle"></i></button>
                        </div>
                    </div>
                    </div>
                    <hr>
                    <button class="btn btn-default btn-md ml-0 waves-effect waves-ligth"
                    (click)="addMembers()" type="button">ADD MEMBER <i class="fas fa-plus-circle"></i></button>
                </div>
            </div>
    
            <div [ngClass]="{'d-none': step !== 3}">
    
            <div class="card text-white text-center" [ngClass]="{'peach-gradient': !isInvalidInputFile(getInput('app')), 'stylish-color': isInvalidInputFile(getInput('app')) }">
                <div class="card-body">
                    <h4><label for="app"> <i class="fas fa-upload"></i> UPLOAD FILLED APPLICATION <span class="badge badge-primary"></span></label></h4>
                    <input class="d-none" id="app" type="file" (change)="getFile($event, getInput('app'), period + '/application/')">
                    <label>{{ getInput('app').value }}</label>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <h4>BANK STATEMENTS</h4>
                    <hr class="my-3">
                    <div class="row">
                        <div class="col-md-4 text-center" formArrayName="bankStatements" *ngFor="let statement of getArray('bankStatements'); let i = index;">
                            <div [formGroupName]="i">
                            <label class="d-block">{{ getMonth(i + 1) }} statement</label>
                            <label [for]="'bankStatements' + i" class="btn btn-circle" [ngClass]="{'peach-gradient': !isInvalidInputFile(statement.get('name')) }">
                                <i class="fas fa-paperclip" aria-hidden="true"></i></label>
                            <input class="d-none" type="file" [id]="'bankStatements' + i" (change)="getFile($event, statement.get('name'), period + '/bankstatements/')">
                            <label>{{ statement.get('name').value }}</label>
                            <div class="md-form">
                                <input autocomplete="off" class="form-control" type="text" formControlName="quantity"
                                [ngClass]="{'is-invalid': isInvalidInput(statement.get('quantity')) }">
                                <label [ngClass]="{'active': statement.get('quantity').value }">Amount</label>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <h4> 
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cardprocessor" [checked]="getInput('cardprocessor').value"
                            (click)="toggleClass('cardprocessor')">
                            <label class="custom-control-label" for="cardprocessor">CREDIT CARD STATEMENTS</label>
                        </div>
                    </h4>
                    <hr class="my-3">
                    <div class="row" *ngIf="getInput('cardprocessor').value">
                        <div class="col-md-4 text-center" formArrayName="cardStatements" *ngFor="let statement of getArray('cardStatements'); let i = index;">
                            <div [formGroupName]="i">
                            <label class="d-block">{{ getMonth(i + 1) }} statement</label>
                            <label [for]="'cardStatements' + i" class="btn btn-circle" [ngClass]="{'purple-gradient': !isInvalidInputFile(statement.get('name')) }">
                            <i class="fas fa-paperclip" aria-hidden="true"></i></label>
                            <input class="d-none" type="file" [id]="'cardStatements' + i" (change)="getFile($event, statement.get('name'), period + '/cardprocessor/')">
                            <label>{{ statement.get('name').value }}</label>
                            <div class="md-form">
                                <input autocomplete="off" class="form-control" type="text" formControlName="quantity"
                                [ngClass]="{'is-invalid': isInvalidInput(statement.get('quantity')) }">
                                <label [ngClass]="{'active': statement.get('quantity').value }">Amount</label>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <h4> 
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="otheraccounts" [checked]="getInput('otheraccounts').value"
                            (click)="toggleClass('otheraccounts')">
                            <label class="custom-control-label" for="otheraccounts">ADITTIONAL ACCOUNT STATEMENTS</label>
                        </div>
                    </h4>
                <hr class="my-3">
                    <div class="row" *ngIf="getInput('otheraccounts').value">
                        <div class="col-md-4 text-center" formArrayName="additionalAccounts" *ngFor="let statement of getArray('additionalAccounts'); let i = index;">
                        <div [formGroupName]="i">
                        <label class="d-block">{{ getMonth(i + 1) }} statement</label>
                        <label [for]="'additionalAccounts' + i" class="btn btn-circle" [ngClass]="{'aqua-gradient': !isInvalidInputFile(statement.get('name')) }">
                        <i class="fas fa-paperclip" aria-hidden="true"></i></label>
                        <input class="d-none" type="file" [id]="'additionalAccounts' + i" (change)="getFile($event, statement.get('name'), period + '/additionalAccounts/')">
                        <label>{{ statement.get('name').value }}</label>
                        <div class="md-form">
                            <input autocomplete="off" class="form-control" type="text" formControlName="quantity"
                            [ngClass]="{'is-invalid': isInvalidInput(statement.get('quantity')) }">
                            <label [ngClass]="{'active': statement.get('quantity').value }">Amount</label>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="mb-4" formArrayName="loans" *ngFor="let loan of getArray('loans'); let i = index;">
                    <h4>Loan <button class="btn btn-sm btn-danger waves-effect waves-ligth" 
                        (click)="forceRemoveInArray('loans', i)">DELETE <i class="fas fa-minus-circle"></i></button></h4>
                    <hr class="my-3">
                    <div class="row" [formGroupName]="i">
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="number" formControlName="amount"
                                [ngClass]="{'is-invalid': isInvalidInput(loan.get('amount')) }">
                                <label [ngClass]="{'active': loan.get('amount').value }">Amount</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="number" formControlName="currentdebt"
                                [ngClass]="{'is-invalid': isInvalidInput(loan.get('currentdebt')) }">
                                <label [ngClass]="{'active': loan.get('currentdebt').value }">Current Debt</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" type="number" formControlName="recurrentpayment"
                                [ngClass]="{'is-invalid': isInvalidInput(loan.get('recurrentpayment')) }">
                                <label [ngClass]="{'active': loan.get('recurrentpayment').value }">Recurrent Payment</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Recurrent Payment</label>
                                <select class="form-control" formControlName="paymenttype"
                                [ngClass]="{'is-invalid': isInvalidInput(loan.get('paymenttype')) }">
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    </div>
                    <button type="button" class="btn btn-default btn-sm waves-ligth waves-effect" (click)="addLoan()">Other Loans</button>
                </div>
            </div>
                <button class="btn-primary btn-block btn waves-ligth waves-effect" [disabled]="companyForm.invalid || sending" type="submit">
                <div class="spinner-border spinner-border-sm" role="status" *ngIf="sending"></div> SEND</button>
                <app-infobox *ngIf="step === 3" [info]="info"></app-infobox>
                </div>
            </form>
        </div>
    </div>
    
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingFile"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="loadingFile">Loading File, please wait</h5>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center" *ngIf="sendingFile">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <app-infobox [info]="infoFile"></app-infobox>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" *ngIf="!sendingFile" data-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
    </div>