<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Detail report</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center mb-5" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && report">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                This report is {{ report?.status }}
                <h5><b>{{ report?.deal?.companyID?.name }}</b></h5>
                <p>{{ report?.deal?.companyID?.dba }}</p>
                <button class="btn btn-primary ml-0 btn-sm waves-effect waves-light" 
                (click)="closeReport()" [disabled]="closing || report?.status === 'closed' || report?.status === 'waiting'" type="button">
                <div class="spinner-border spinner-border-sm" role="status" *ngIf="closing"></div>  CLOSE</button>
                <button class="btn btn-info ml-0 btn-sm waves-effect waves-light" 
                [routerLink]="['/reports/edit', report?._id]"
                type="button">EDIT</button>
                <button class="btn btn-danger ml-0 btn-sm waves-effect waves-ligth" data-toggle="modal" data-target="#deleteModal">DELETE</button>
                <hr>
                <h5><b>Created By</b></h5>
                <p>{{ report?.insertBy.name }} <span class="d-inline-block py-1 px-1 peach-gradient text-white text-center rounded-sm shadow-sm">{{ report?.insertBy.role }}</span></p>
                <p>{{ report?.createdOn | date: 'dd MMM, yyyy' }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h5><b>Closing Amount: ${{ report?.closingAmount | number }}</b></h5>
                <hr>
                <div class="row">
                    <ng-container *ngFor="let participant of report?.participants">
                        <div class="col-md-3 company-info">
                            <span>Concept:</span>
                            <h5>{{ participant?.concept }}</h5>
                            <p class="mb-3"><span class="font-12 badge badge-pill badge-default d-inline shadow-none">Status: {{ participant?.status }}</span></p>
                        </div>
                        <div class="col-md-3 company-info">
                            <span>Beneficiary:</span>
                            <h5>{{ participant?.beneficiary?.name === 'SYSTEM' ? 'BMF' : participant?.beneficiary?.name }}</h5>
                        </div>
                        <div class="col-md-3 company-info">
                            <span>Type:</span>
                            <h5>{{ participant?.type }}</h5>
                        </div>
                        <div class="col-md-3 company-info">
                            <span>Amount:</span>
                            <h5>$ {{ participant?.amount | number }}</h5>
                        </div>
                    </ng-container>
                    <div class="col-md-12">
                        <hr>
                        <h5>Total: ${{ showTotal() }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteReport"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteReport">Delete Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this report?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="deleting">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="deleteReport()" [disabled]="deleting">
        <span *ngIf="deleting" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> CONFIRM</button>
    </div>
    </div>
</div>
</div>