<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Hall of Fame</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">Filters</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div  class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="filters.username" (keyup)="getEmployees()">
                            <label>User name</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div  class="md-form">
                            <input type="date" class="form-control" [(ngModel)]="filters.from" (change)="getEmployees()">
                            <label>From</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div  class="md-form">
                            <input type="date" class="form-control" [(ngModel)]="filters.to" (change)="getEmployees()">
                            <label>To</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#createModal">ADD NEW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-infobox [info]="infoFame"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loadingEmployees">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-3" *ngFor="let employee of employees">
        <div class="card client-card">
        <ng-container *ngIf="authRole(['ADMIN', 'SUPPORT', 'SUPERADMIN', 'MANAGER']); else userInfo">
            <a [routerLink]="['/halloffame/details', employee?._id]">
                <img *ngIf="employee?.photo" [src]="url + prepairPhoto(employee)" class="w-100 h-auto">
                <img *ngIf="!employee?.photo" src="../../../../../assets/noimage.jpg" class="w-100 h-auto">
            </a>
        </ng-container>
        <ng-template #userInfo>
            <img *ngIf="employee?.photo" [src]="url + prepairPhoto(employee)" class="w-100 h-auto">
            <img *ngIf="!employee?.photo" src="../../../../../assets/noimage.jpg" class="w-100 h-auto">
        </ng-template>
        
        <div class="card-body text-center">
            <ng-container *ngIf="authRole(['ADMIN', 'SUPPORT', 'SUPERADMIN','MANAGER']); else userName">
                <a [routerLink]="['/halloffame/details', employee?._id]"><h5 class="client-name">{{ employee?.userID?.name }}</h5></a>
            </ng-container>

            <ng-template #userName>
                <h5 class="client-name">{{ employee?.userID?.name }}</h5>
            </ng-template>
            
            <span class="text-muted mr-3 d-block"><i class="dripicons-calendar mr-2 text-info"></i> {{ employee?.createdOn | date: 'dd MMM, yyyy' }}</span>
            <button type="button" class="btn mt-3 btn-block btn-success">$ {{ employee?.quantity | number }}</button>
        </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="col-lg-12">
        <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="insertUserInHall"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="insertUserInHall">Insert User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="md-form">
                <input type="number" class="form-control" formControlName="quantity">
                <label>Quantity</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="insertUserInHall()" [disabled]="creating || userForm.invalid">
            <span *ngIf="creating" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> INSERT</button>
        </form>
        <hr>
        <div class="md-form" *ngIf="!creating">
            <input type="text" class="form-control" [(ngModel)]="userFilters.name" (keyup)="searchUser()">
            <label>Search User</label>
        </div>
        <app-infobox [info]="infoUser"></app-infobox>
        <div class="d-flex justify-content-center" *ngIf="loading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" *ngFor="let user of users"
            (click)="selectUser(user)" [ngClass]="{'text-white bg-secondary': inInput(user)}">{{ user.name }}</a>
        </div>
    </div>
    </div>
</div>
</div>