<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Bank List Detail</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="list && !loading">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5>{{ list?.name }}</h5>
                <hr>
                <p>{{ list?.description }}</p>
                <hr class="my-2">
                <button class="btn btn-primary waves-effect waves-ligth" [routerLink]="['/bankslists/edit', list?._id]">EDIT</button>
                <button class="btn btn-danger waves-effect waves-ligth" data-target="#deleteModal" data-toggle="modal">DELETE</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5>Banks</h5>
                <hr>
                <h6 *ngFor="let bank of list.banksIDs">{{ bank?.name }}</h6>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteList"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteList">Delete List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this list?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="deleting">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="deleteList()" [disabled]="deleting">
        <span *ngIf="deleting" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> CONFIRM</button>
    </div>
    </div>
</div>
</div>