<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Admin Reports</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <app-infobox [info]="info"></app-infobox>
                <div class="d-flex justify-content-center" *ngIf="loading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="table-responsive" *ngIf="!loading">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Deal</th>
                            <th>Closing Amount</th>
                            <th>Participants</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let report of reports">
                            <td><a [routerLink]="['/reports/details/', report?._id]"><h5><b>{{ report?.deal?.companyID?.name }}</b></h5>
                                <span class="d-block">{{ report?.deal?.companyID?.dba }} - {{ report?.deal?.companyCode }}</span></a></td>
                            <td style="min-width: 115px"><span class="text-white rounded p-2 success-color">$ {{ report?.closingAmount | number }}</span></td>
                            <td>{{ report?.participants?.length  }}</td>
                            <td>{{ report?.createdOn | date: 'dd MMM, yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="col-lg-12">
                    <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>