<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">{{ status === 'pending' ? 'Deals Pending review' : 'Deals' }}</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">Filters</h4>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="md-form">
                            <input autocomplete="off" class="form-control" type="text"
                            [(ngModel)]="filters.companyCode" (keyup)="getDeals()">
                            <label>Code</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="md-form">
                            <input autocomplete="off" class="form-control" type="date"
                            [(ngModel)]="filters.from" (change)="getDeals()">
                            <label>From</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="md-form">
                            <input autocomplete="off" class="form-control" type="date"
                            [(ngModel)]="filters.to" (change)="getDeals()">
                            <label>To</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="md-form">
                            <input autocomplete="off" class="form-control" type="text"
                            [(ngModel)]="filters.state" (keyup)="getDeals()">
                            <label>State</label>
                        </div>
                    </div>
                    <div class="col-lg-3" *ngIf="status !== 'pending'">
                        <label class="m-0">Status</label>
                        <div class="md-form">
                            <select name="status" class="form-control" [(ngModel)]="filters.status" (change)="getDeals()">
                                <option value="">--</option>
                                <option value="pending">pending</option>
                                <option value="rejected">Rejected</option>
                                <option value="approvednotfunded">Approved Not Funded</option>
                                <option value="onhold">On Hold</option>
                                <option value="sended">sended</option>
                                <option value="notsent">notsent</option>
                                <option value="completed">completed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="m-0">Agent</label>
                        <div class="md-form">
                            <select name="status" class="form-control" [(ngModel)]="filters.submittedBy" (change)="getDeals()">
                                <option value="" selected>--</option>
                                <option *ngFor="let user of users;" [value]="user?._id">{{ user?.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3" *ngIf="authRole(['SUPERADMIN'])">
                        <button class="btn btn-info mt-3" (click)="print()">SAVE AS CSV</button>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="header-title mt-0">{{ totalCount }} Deals</h4>
                    </div>
                </div>

                <app-infobox [info]="info"></app-infobox>
                <div class="d-flex justify-content-center" *ngIf="loading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="table-responsive" *ngIf="!loading">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Company</th>
                            <th>Quantity</th>
                            <th>Agent</th>
                            <th>Status</th>
                            <th>Period</th>
                            <th>Send On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let deal of deals">
                            <td>
                                <a [routerLink]="[ deal?.status !== 'pending' ? '/deals/details/' : '/deals/pending/', deal?._id]"><h5><b>{{ deal?.companyID?.name }}</b></h5>
                                <span class="d-block">{{ deal?.companyID?.dba }} - {{ deal?.companyCode }}</span></a></td>
                            <td style="min-width: 115px"><span class="text-white rounded p-2 success-color">$ {{ deal?.quantity | number }}</span></td>
                            <td><i class="dripicons-user"></i> {{ deal?.submittedBy?.name }}</td>
                            <td><span class="d-block p-2 peach-gradient text-white text-center rounded-sm shadow-sm waves-effect waves-ligth">{{ deal?.status }}</span></td>
                            <td>{{ deal?.period }}</td>
                            <td>{{ deal?.lastSubmitted | date: 'dd MMM, yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="col-lg-12">
                    <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>