<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Companies</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">Filters</h4>
                <div class="row" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT']); else filterUser">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" id="companyName" name="company" class="form-control"
                            [(ngModel)]="filters.name" (keyup)="getCompanies()" autocomplete="off">
                            <label for="companyName">Company Name</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" id="DBA" class="form-control" name="dba"
                                [(ngModel)]="filters.dba" (keyup)="getCompanies()" autocomplete="off">
                            <label for="DBA">DBA</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" id="taxid" class="form-control" name="taxid"
                            [(ngModel)]="filters.taxid" (keyup)="getCompanies()" autocomplete="off">
                            <label for="taxid">Tax ID</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" id="companyCode" class="form-control" name="code"
                            [(ngModel)]="filters.code" (keyup)="getCompanies()" autocomplete="off">
                            <label for="companyCode">Company Code</label>
                        </div>
                    </div>
                    <div class="col-md-12 text-right pb-3">
                        <button class="btn btn-primary btn-md waves-effect waves-ligth"
                        [routerLink]="['/companies/add']">Add Company <i class="fas fa-plus-circle"></i></button>
                    </div>
                </div>

                <ng-template #filterUser>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <input type="text" id="taxid" class="form-control" name="taxid"
                                [(ngModel)]="filters.taxid" (keyup)="getCompanies()" autocomplete="off">
                                <label for="taxid">Tax ID</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-md waves-effect waves-ligth"
                            [routerLink]="['/companies/add']">Add Company <i class="fas fa-plus-circle"></i></button>
                        </div>
                    </div>
                </ng-template>
                

                <app-infobox [info]="info"></app-infobox>
                <div class="d-flex justify-content-center" *ngIf="loading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="table-responsive" *ngIf="!loading">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Tax ID</th>
                            <th>Code</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of companies">
                            <td><a [routerLink]="['/companies/details/', company?._id]"><h5><b>{{ company?.name }}</b></h5><span class="d-block">{{ company?.dba }}</span></a></td>
                            <td><span class="d-block"> {{ company?.phone[0] | phone }}</span></td>
                            <td><span class="d-block p-2 peach-gradient text-white text-center rounded-sm shadow-sm waves-effect waves-ligth">{{ company?.taxid }}</span></td>
                            <td>{{ company.code }}</td>
                            <td>{{ company.createdOn | date: 'dd MMM, yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="col-lg-12" *ngIf="authRole(['ADMIN', 'SUPPORT', 'SUPERADMIN', 'MANAGER'])">
                    <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>