<div [ngClass]="{'enlarge-menu': config.hideMenu}" *ngIf="auth.isLogged(); else login">
<app-navbar></app-navbar>
<div class="page-wrapper">
  <div class="left-sidenav">
    <div class="main-icon-menu">
        <nav class="nav">
            <a class="nav-link active">
              <i class="dripicons-view-list"></i>
            </a>
        </nav>
    </div>
  <app-menu></app-menu>
  </div>
  <div class="page-content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
</div>
<ng-template #login>
<div class="row vh-100 peach-gradient">
    <div class="col-12 align-self-center">
        <div class="auth-page">
            <app-login></app-login>
        </div>
      </div>
  </div>
</ng-template>
