<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">
            <ng-container *ngIf="deal?.status">
                <span class="badge badge-default p-2">{{ deal?.status }}</span>
            </ng-container> Deal Details <ng-container *ngIf="deal?.companyID?.code">- {{ deal?.companyID?.code }}</ng-container></h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center mb-5" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && deal">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5><b>{{ deal?.companyID?.name }}</b></h5>
                <p class="mb-0">{{ deal?.companyID?.dba }}</p>
                <p class="font-15 text-success">Looking for {{ deal?.quantity | number }}</p>
                <button class="btn btn-danger ml-0 btn-sm waves-effect waves-light" type="button">DELETE</button>
                <button class="btn btn-info ml-0 btn-sm waves-effect waves-light" 
                data-toggle="modal" data-target="#changeDealStatusModal" type="button">CHANGE STATUS</button>
                <button class="btn btn-default ml-0 btn-sm waves-effect waves-light" type="button"
                data-toggle="modal" data-target="#createTask" >ADD TASK</button>
                <button class="btn btn-warning ml-0 btn-sm waves-effect waves-light" type="button" (click)="tab = 'closurereport'">CLOSE DEAL</button>
                <hr>
                <p><b>Period:</b> {{ deal?.period }}</p>
                <ul class="nav company-info flex-column lighten-4 pb-4">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'deal' }" (click)="tab='deal'">
                        <i class="dripicons-article mr-1"></i> Deal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'notifications' }" (click)="tab='notifications'">
                        <i class="dripicons-message mr-1"></i> Bank Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'history' }" (click)="tab='history'">
                        <i class="dripicons-network-3 mr-1"></i>History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'addbanks' }" (click)="tab='addbanks'">
                        <i class="dripicons-plus mr-1"></i> Add Banks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'closurereport' }" (click)="tab='closurereport'">
                        <i class="dripicons-checklist mr-1"></i> Closure Reports</a>
                    </li>
                </ul>
                <hr>
                <h5><b>Submitted By</b></h5>
                <p>{{ deal?.submittedBy?.name }} <span class="d-inline-block py-1 px-1 peach-gradient text-white text-center rounded-sm shadow-sm">{{ deal?.submittedBy?.role }}</span></p>
                <p>{{ deal?.lastSubmitted || deal?.createdOn | date: 'dd MMM, yyyy' }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card" *ngIf="higherOffer">
            <div class="card-body">
                <div class="looking-for">
                    <h4 class="wallet-title m-0">Major Offer</h4>
                    <span class="text-muted font-12">{{ higherOffer?.updateDate | date: 'dd MMM, yyyy h:mm a' }}</span>
                    <h3 class="text-center">${{ higherOffer?.approvedAmount || 0 | number }}</h3>
                </div>
                <p class="font-15 text-success text-center mb-4">Looking for: ${{ deal?.quantity | number }} 
                    <span class="font-12 text-muted">({{ (higherOffer?.approvedAmount / deal?.quantity) * 100 | number: '1.0-2'  }}%)</span></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <ng-container *ngIf="tab === 'deal'">
                    <h5><b>Company Information</b></h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 company-info">
                            <span>Company:</span>
                            <a [routerLink]="['/companies/details', deal?.companyID?._id]"><h5>{{ deal?.companyID?.name }}</h5></a>
                        </div>
                        <div class="col-md-3 company-info">
                            <span>Tax ID:</span>
                            <h5>{{ deal?.companyID?.taxid }}</h5>
                        </div>
                        <div class="col-md-3 company-info">
                            <span>DBA:</span>
                            <h5>{{ deal?.companyID?.dba }}</h5>
                        </div>
                        <div class="col-md-3 company-info">
                            <span>Code:</span>
                            <h5>{{ deal?.companyCode }}</h5>
                        </div>
                        <ng-container *ngIf="deal?.source">
                            <div class="col-md-12 company-info">
                                <span>Source:</span>
                                <h5>{{ deal?.source }}</h5>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="tab === 'notifications'">
                    <h5><b>Banks Notifications</b></h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 text-center mb-3" *ngFor="let bank of deal?.banksIDs;">
                            <i class="clickable box-status m-auto" [ngClass]="statusClass(bank.status)"
                            (click)="setBank(bank)" data-toggle="modal" data-target="#changeBankStatusModal"></i>
                            <h6 class="mt-3 mb-0">{{ bank?.bankID?.name }}</h6>
                            <h6 class="mb-0" *ngIf="bank?.approvedAmount">${{ bank?.approvedAmount | number }}</h6>
                            <span class="text-muted" *ngIf="bank?.lastNotify">Last Resp: {{ bank?.lastNotify | date: 'dd MMM, yyyy' }}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="tab === 'history'">
                    <h5><b>Timeline</b></h5>
                    <hr>
                    <div class="main-timeline mt-3">
                        <div class="timeline" *ngFor="let history of sortByDate(deal?.lifeHistory)">
                            <span class="timeline-icon"></span> <span class="year">{{ history?.dateChange | date: 'dd MMM, yyyy' }}</span>
                            <div class="timeline-content">
                                <h5 class="title">{{ history?.status }}</h5><span class="post">{{ history?.insertBy?.name }}</span>
                                <p class="description">{{ history?.statusReason }}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="tab === 'addbanks'">
                    <h5><b>Add Banks</b></h5>
                    <hr>
                    <form [formGroup]="addBanks" (ngSubmit)="resend()">
                        <div class="row">
                            <div class="col-md-3">
                                <button data-toggle="modal" data-target="#addBanksModal" class="btn btn-info btn-sm btn-block"
                                type="button">Search Banks <i class="dripicons-plus mr-1"></i></button>
                                <p class="text-center">{{ getInputBanks('banksIDs')?.value?.length }} Banks selected</p>
                            </div>
                            <div class="col-md-9">
                                <div class="md-form">
                                    <textarea class="md-textarea form-control" formControlName="message" cols="30" rows="10"></textarea>
                                    <span>{{ 1000 - getInputBanks('message')?.value?.length }}</span>
                                    <label>Message</label>
                                </div>
                                <button class="btn btn-secondary btn-block" [disabled]="addBanks.invalid || getInputBanks('banksIDs').value?.length === 0"
                                type="submit"><div class="spinner-border spinner-border-sm" role="status" *ngIf="sendingBank"></div> SEND</button>
                                <app-infobox [info]="sendBankInfo"></app-infobox>
                            </div>
                        </div>
                    </form>
                </ng-container>
                <ng-container *ngIf="tab === 'closurereport'">
                    <app-infobox [info]="infoClosing"></app-infobox>
                    <ng-container *ngIf="deal?.status !== 'completed'">
                    <h5><b>Close this deal</b></h5>
                    <hr>
                    <form [formGroup]="closure" (ngSubmit)="closeDeal()">
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input type="number" class="form-control" formControlName="closingAmount">
                                    <label>Closing Amount</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Bank</label>
                                <select class="browser-default custom-select" formControlName="bankID">
                                    <option *ngFor="let bank of deal?.banksIDs" [value]="bank?.bankID?._id">{{ bank?.bankID?.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-warning ml-0 btn-sm waves-effect waves-light" type="submit" [disabled]="closure.invalid || closing">
                                <div class="spinner-border spinner-border-sm" role="status" *ngIf="closing"></div>CLOSE</button>
                            </div>
                        </div>
                    </form>
                    </ng-container>
                    <h5><b>Closure Reports</b></h5>
                    <hr>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let report of deal?.closingHistory">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">$ {{ report?.closingAmount | number}}</h5>
                            <small class="text-muted">{{ report?.closingDate | date: 'dd MMM, yyyy' }}</small>
                            </div>
                            <p class="mb-1">Financed by {{ report?.bankID?.name }}</p>
                        </a>
                    </div>
                    
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeBankStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeStatus"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="changeStatus">Change Status Bank</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm">
            <label class="m-0">Status</label>
            <div class="md-form">
                <select class="form-control" [(ngModel)]="selectedBank.status" name="status">
                    <option value="rejected">Rejected</option>
                    <option value="accepted">Accepted</option>
                    <option value="onhold">On hold</option>
                    <option value="replied">Replied</option>
                </select>
            </div>
            <div class="md-form">
                <input type="number" class="form-control" [(ngModel)]="selectedBank.approvedAmount" name="approvedAmount">
                <label class="active">Approved Amount</label>
            </div>
        </form>
        <app-infobox [info]="infoBank"></app-infobox>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="changing">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="changeStatus()" [disabled]="form.invalid || changing">
        <span *ngIf="changing" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> UPDATE</button>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="changeDealStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeDeal"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="changeDeal">Change Deal Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="changeForm" (ngSubmit)="changeDeal()">
            <label class="m-0">Status</label>
            <div class="md-form">
                <select class="form-control" name="status" formControlName="status">
                    <option value="rejected">Rejected</option>
                    <option value="onhold">On hold</option>
                    <option value="sended">Sended</option>
                    <option value="approvednotfunded">Approved not Funded</option>
                </select>
            </div>
            <div class="md-form">
                <textarea class="md-textarea form-control" name="message" cols="30" rows="10"
                formControlName="message"></textarea>
                <span>{{ 1000 - getInput('message')?.value?.length }}</span>
                <label>Reason</label>
            </div>
            <button type="submit" class="btn btn-danger btn-block" (click)="changeDeal()" [disabled]="changingStatus || changeForm.invalid">
            <span *ngIf="changingStatus" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> UPDATE</button>
        </form>
        <app-infobox [info]="infoDeal"></app-infobox>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="addBanksModal" tabindex="-1" role="dialog" aria-labelledby="addBanksModal"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="addBanksModal">Search Banks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <form>
            <div class="form-group">
                <div class="md-form">
                    <input type="text" id="bankName" class="form-control" name="bankName" [(ngModel)]="filters.name" (keyup)="getBanks()" autocomplete="off">
                    <label for="bankName">Bank</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" (click)="changeClasification('A')" class="custom-control-input" id="classA">
                    <label class="custom-control-label" for="classA">A</label>
                </div>
                
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" (click)="changeClasification('B')" class="custom-control-input" id="classB">
                    <label class="custom-control-label" for="classB">B</label>
                </div>
                
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" (click)="changeClasification('C')" class="custom-control-input" id="classC">
                    <label class="custom-control-label" for="classC">C</label>
                </div>

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" (click)="changeClasification('D')" class="custom-control-input" id="classD">
                    <label class="custom-control-label" for="classD">D</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="PR" (click)="changeTerritory('PR')">
                    <label class="custom-control-label" for="PR">PR</label>
                </div>
                
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="USA" (click)="changeTerritory('USA')">
                    <label class="custom-control-label" for="USA">USA</label>
                </div>
                
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="CANADA" (click)="changeTerritory('CANADA')">
                    <label class="custom-control-label" for="CANADA">CANADA</label>
                </div>

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="UK" (click)="changeTerritory('UK')">
                    <label class="custom-control-label" for="UK">UK</label>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center mb-5" *ngIf="loadingBanks">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" (click)="addToselectedBank(bank)" *ngFor="let bank of banks"
            [ngClass]="{'text-white bg-secondary': inArray(bank)}">{{ bank?.name }}</a>
        </div>
        <app-infobox [info]="infoBanks"></app-infobox>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="createTask" role="dialog" aria-labelledby="createTask" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTask">CREATE TASK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="taskForm" (ngSubmit)="createTask()">
                    <div class="md-form">
                        <input type="text" class="form-control" formControlName="title"
                        [ngClass]="{'is-invalid': isInvalidInput(getInputTask('title')) }">
                        <label>Title</label>
                    </div>
                    <div class="md-form">
                        <textarea class="form-control md-textarea" cols="30" rows="10" formControlName="description"
                        [ngClass]="{'is-invalid': isInvalidInput(getInputTask('description')) }"></textarea>
                        <label>Description</label>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input class="form-control" type="datetime-local" formControlName="reminderDate"
                        [ngClass]="{'is-invalid': isInvalidInput(getInputTask('reminderDate')) }">
                    </div>
                    <div class="md-form">
                        <select name="user" class="form-control" formControlName="assignTo"
                        [ngClass]="{'is-invalid': isInvalidInput(getInputTask('assignTo')) }">
                            <option *ngFor="let user of users" [value]="user?._id">{{ user?.name }}</option>
                        </select>
                    </div>
                    <button class="btn btn-success btn-md" type="submit" [disabled]="creatingTask || taskForm.invalid">
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="creatingTask"></div> CREATE TASK</button>
                </form>
                <app-infobox [info]="infoCreatingTask"></app-infobox>
            </div>
        </div>
    </div>
</div>