<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Users <button class="btn btn-primary btn-sm waves-effect waves-ligth" *ngIf="authRole(['ADMIN', 'SUPPORT', 'SUPERADMIN'])" [routerLink]="['/users/add']">ADD</button></h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && users.length > 0">
    <div class="col-lg-3" *ngFor="let user of users;">
        <div class="card client-card">
            <div class="card-body text-center">
                <ng-container *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT']); else userName">
                <a [routerLink]="['/users/details', user?._id]">
                    <img *ngIf="user?.photo" [src]="url + prepairPhoto(user)" class="rounded-circle img-fluid thumb-xl">
                    <img *ngIf="!user?.photo" src="../../../../assets/user.jpg" class="rounded-circle img-fluid thumb-xl">
                </a>
                </ng-container>
                <ng-template #userName>
                    <img *ngIf="user?.photo" [src]="url + prepairPhoto(user)" class="rounded-circle img-fluid thumb-xl">
                    <img *ngIf="!user?.photo" src="../../../../assets/user.jpg" class="rounded-circle img-fluid thumb-xl">
                </ng-template>

                <h5 class="client-name my-3">{{ user?.name }}</h5>
                <p class="mb-0" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])"><span class="text-muted"><i class="dripicons-mail mr-2 text-info"></i>{{ user?.email }}</span></p>
                <p *ngIf="user?.lastActivity"><span class="text-muted"><i class="dripicons-clock mr-2 text-info"></i>{{ user?.lastActivity | date: 'dd MMM, yyyy - h:mm a' }}</span></p>
                <button type="button" class="shadow-none btn btn-sm btn-soft-secondary">{{ user?.role }}</button>
            </div>
        </div>
    </div>
</div>