<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Log Details</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center mb-5" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && act">
    <div class="col-lg-12 mb-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="advanced">
            <label class="custom-control-label" for="customSwitches">Advanced View</label>
      </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-body">
                <p><b>Method:</b> <span class="p-1 peach-gradient text-white text-center rounded-sm shadow-sm">{{ act?.method }}</span></p>
                <p><b>Location:</b> {{ act?.url }}</p>
                <p><b>Browser:</b> {{ act?.browser }}</p>
                <p><b>IP:</b> {{ act?.ip }}</p>
                <p><b>Priority:</b> {{ act?.priority }}</p>
                <p><b>User:</b> {{ act?.user?.name }} - {{ act?.user?.role }}</p>
                <p><b>Final Status:</b> {{ act?.finalStatus }}</p>
                <p><b>Time:</b> {{ act?.createdOn | date: 'dd MMM, yyyy - h:mm a' }}</p>
            </div>
        </div>
        
        <ng-container *ngIf="advanced">
        <div class="card mb-3">
            <div class="card-body">
                <h4>Headers</h4>
                {{ act?.headers | json }}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h4>Body</h4>
                {{ act?.body | json }}
            </div>
        </div>
        </ng-container>
    </div>
</div>
