<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Add User</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="row" *ngIf="!send">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="userForm" (ngSubmit)="createUser()" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" placeholder="Full Name" class="form-control" formControlName="name"
                            [ngClass]="{'is-invalid': isInvalidInput('name') }">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" placeholder="Email" class="form-control" formControlName="email" autocomplete="off"
                            [ngClass]="{'is-invalid': isInvalidInput('email') }">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="password" placeholder="password" class="form-control" formControlName="password" autocomplete="off"
                            [ngClass]="{'is-invalid': isInvalidInput('password') }">
                            <div class="invalid-feedback">
                                The password must contain: <br/>
                                Minimum 8 characters<br/>
                                1 Special character<br/>
                                1 Capital letter</div>
                        </div>
                        <div class="col-md-6 form-group">
                            <select class="form-control" formControlName="role">
                                <option>USER</option>
                                <option>ADMIN</option>
                                <option>MANAGER</option>
                                <option>SUPPORT</option>
                            </select>
                        </div>
                        <div class="col-md-6 offset-md-3 ">
                            <button type="submit" [disabled]="userForm.invalid || sending"
                            class="btn btn-primary waves-effect waves-ligth btn-block">
                            <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="sending"></div> SEND</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>