<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"><ng-container *ngIf="employee?.userID?.name">
                <button class="btn btn-danger btn-sm waves-effect waves-ligth" data-toggle="modal" data-target="#deleteModal">DELETE</button>
            </ng-container></h4>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" >
    <div class="col-lg-4 offset-lg-4">
        <app-infobox [info]="info"></app-infobox>
        <div class="card client-card" *ngIf="employee">
        <div class="profile">
            <label class="clickable w-100 position-relative" for="photo">
                <img *ngIf="employee?.photo" [src]="url + prepairPhoto(employee)" class="w-100 h-auto">
                <img *ngIf="!employee?.photo" src="../../../../../assets/noimage.jpg" class="w-100 h-auto">
                <div class="upload-camera">
                    <i class="dripicons-camera" *ngIf="!sending"></i>
                    <div class="spinner-border text-white" *ngIf="sending" role="status"></div>
                </div>
            </label>
            <input (change)="changePhoto($event)" accept="image/*" class="d-none" type="file" id="photo">
        </div>
        <div class="card-body text-center">
            <h5 class="client-name">{{ employee?.userID?.name }}</h5>
            <span class="text-muted mr-3 d-block"><i class="dripicons-calendar mr-2 text-info"></i> {{ employee?.createdOn | date: 'dd MMM, yyyy' }}</span>
            <button type="button" class="btn mt-3 btn-block btn-success"
            data-toggle="modal" data-target="#editModal">$ {{ employee?.quantity | number }} <i class="dripicons-document-edit"></i></button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployee"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteEmployee">Delete Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this entry?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="deleting">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="deleteEmployee()" [disabled]="deleting">
        <span *ngIf="deleting" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> DELETE</button>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editEmployee"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-body">
        <div class="md-form">
            <input type="number" class="form-control" name="quantity" [(ngModel)]="quantity">
            <label>Quantity</label>
        </div>
        <app-infobox [info]="infoUpdate"></app-infobox>
        <button class="btn btn-block btn-primary" [disabled]="updating" (click)="updateQuantity()">
        <span *ngIf="updating" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> UPDATE</button>
    </div>
    </div>
</div>
</div>