<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Create Bank List</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="listForm" (ngSubmit)="sendList()" autocomplete="off">
                    <div class="md-form">
                        <input type="text" id="listName" class="form-control" formControlName="name" autocomplete="off"
                        [ngClass]="{'is-invalid': isInvalidInput('name') }">
                        <label for="listName">Name</label>
                    </div>
                    <div class="md-form">
                        <label for="desc">Description</label>
                        <textarea id="desc" class="form-control md-textarea" formControlName="description" autocomplete="off"
                        [ngClass]="{'is-invalid': isInvalidInput('description') }"></textarea>
                    </div>
                    <div class="md-form">
                        <h6>Banks</h6>
                        <hr>
                            <h6 class="clickable d-inline" (click)="addToselectedBank(tmpBank)" *ngFor="let tmpBank of selected">
                                <span class="badge badge-pill badge-default">{{ tmpBank?.name }} <i class="fas fa-minus-circle"></i></span>
                            </h6>
                    </div>
                    <div class="md-form">
                        <button type="submit" [disabled]="!listForm.valid || sending" class="btn btn-block btn-primary waves-effect waves-ligth">
                        <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="sending"></div> SEND</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5>Search Banks</h5>
                <hr>
                <div class="form-group">
                    <div class="md-form">
                        <input type="text" id="bankName" class="form-control" name="bankName" [(ngModel)]="filters.name" (keyup)="getBanks()" autocomplete="off">
                        <label for="bankName">Bank</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" (click)="changeClasification('A')" class="custom-control-input" id="classA">
                        <label class="custom-control-label" for="classA">A</label>
                    </div>
                    
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" (click)="changeClasification('B')" class="custom-control-input" id="classB">
                        <label class="custom-control-label" for="classB">B</label>
                    </div>
                    
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" (click)="changeClasification('C')" class="custom-control-input" id="classC">
                        <label class="custom-control-label" for="classC">C</label>
                    </div>
    
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" (click)="changeClasification('D')" class="custom-control-input" id="classD">
                        <label class="custom-control-label" for="classD">D</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="PR" (click)="changeTerritory('PR')">
                        <label class="custom-control-label" for="PR">PR</label>
                    </div>
                    
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="USA" (click)="changeTerritory('USA')">
                        <label class="custom-control-label" for="USA">USA</label>
                    </div>
                    
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="CANADA" (click)="changeTerritory('CANADA')">
                        <label class="custom-control-label" for="CANADA">CANADA</label>
                    </div>
    
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="UK" (click)="changeTerritory('UK')">
                        <label class="custom-control-label" for="UK">UK</label>
                    </div>
                </div>

                <div class="d-flex justify-content-center mb-5" *ngIf="loadingBanks">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <app-infobox [info]="infoBanks"></app-infobox>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" (click)="addToselectedBank(bank)" *ngFor="let bank of banks"
                    [ngClass]="{'text-white bg-secondary': inArray(bank)}">{{ bank?.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>