<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Company Details <ng-container *ngIf="company?.code">- {{ company?.code }}</ng-container></h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center mb-5" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && company">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5><b>{{ company?.name }}</b></h5>
                <p>{{ company?.dba }}</p>
                <button class="btn btn-primary ml-0 btn-sm waves-effect waves-ligth" type="button" [routerLink]="['/companies/edit', company?._id]">EDIT</button>
                <button (click)="sendToBlacklist()"
                [disabled]="company?.blacklist || updating" class="btn btn-dark ml-0 btn-sm waves-effect waves-ligth" type="button">
                    <span *ngIf="updating" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span> SEND TO BLACKLIST</button>
                <p *ngIf="company?.blacklist">This company is blacklisted</p>
                <!-- <button *ngIf="" class="btn btn-danger ml-0 btn-sm waves-effect waves-ligth" type="button">DELETE</button> -->
                <hr>
                <ul class="nav company-info flex-column lighten-4 py-4">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'company' }" (click)="tab='company'">
                        <i class="dripicons-user-id mr-1"></i> Company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'deal' }" (click)="tab='deal'">
                        <i class="dripicons-document mr-1"></i>Create deal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'members' }" (click)="tab='members'">
                        <i class="dripicons-user-group mr-1"></i> Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'statements' }" (click)="tab='statements'">
                        <i class="dripicons-document-new mr-1"></i> Statements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'documents' }" (click)="tab='documents'">
                        <i class="dripicons-duplicate mr-1"></i>Other Documents</a>
                    </li>
                </ul>
                <hr>
                <h5><b>Insert By</b></h5>
                <p>{{ company?.insertBy?.name }} <span class="d-inline-block py-1 px-1 peach-gradient text-white text-center rounded-sm shadow-sm">{{ company?.insertBy?.role }}</span></p>
                <p>{{ company?.createdOn | date: 'dd MMM, yyyy' }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <ng-container *ngIf="tab === 'company'">
                <h5><b>Company Information</b></h5>
                <hr>
                <div class="row">
                    <div class="col-md-3 company-info">
                        <span>Tax ID:</span>
                        <h5>{{ company?.taxid }}</h5>
                    </div>
                    <div class="col-md-3 company-info">
                        <span>Service:</span>
                        <h5>{{ company?.service }}</h5>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-3 company-info">
                        <span>Address:</span>
                        <h5>{{ company?.address }}</h5>
                    </div>
                    <div class="col-md-3 company-info">
                        <span>City:</span>
                        <h5>{{ company?.city }}</h5>
                    </div>
                    <div class="col-md-3 company-info">
                        <span>State:</span>
                        <h5>{{ company?.state }}</h5>
                    </div>
                    <div class="col-md-2 company-info">
                        <span>ZIP:</span>
                        <h5>{{ company?.zip }}</h5>
                    </div>
                </div>
                <h5><b>Contact</b></h5>
                <hr>
                <div class="row">
                    <div class="col-md-6 company-info">
                        <span>Phone(s):</span>
                        <ng-container *ngFor="let phone of company?.phone">
                        <span class="badge badge-primary d-inline-block mb-2 shadow-none">{{ phone | phone }}</span><br>
                        </ng-container>
                    </div>
                    <div class="col-md-6 company-info">
                        <span>Email(s):</span>
                        <ng-container *ngFor="let email of company?.email">
                        <span class="badge badge-secondary d-inline-block mb-2 shadow-none">{{ email }}</span><br>
                        </ng-container>
                    </div>
                </div>
                </ng-container>

                <ng-container *ngIf="tab === 'members'">
                <h5><b>Members</b></h5>
                <hr>
                    <div class="row" *ngFor="let member of company?.members">
                        <div class="col-md-4 company-info">
                            <span>Name</span>
                            <h5>{{ member?.name }}</h5>
                        </div>
                        <div class="col-md-4 company-info">
                            <span>Title</span>
                            <h5>{{ member?.title }}</h5>
                        </div>
                        <div class="col-md-4 company-info">
                            <span>Ownership</span>
                            <h5>{{ member?.ownership }}%</h5>
                        </div>
                        <div class="col-md-6 company-info">
                            <span>Address</span>
                            <h5>{{ member?.address }}, {{ member?.city }}, {{ member?.state }}, {{ member?.zip }}</h5>
                        </div>
                        <div class="col-md-6 company-info">
                            <span>Birthdate</span>
                            <h5>{{ setBirthdate(member?.birthdate) | date: 'dd MMM, yyyy' }}</h5>
                        </div>
                        <div class="col-md-6 company-info">
                            <span>Phone(s):</span>
                            <ng-container *ngFor="let phone of member?.phone">
                            <span class="badge badge-primary d-inline-block mb-2 shadow-none">{{ phone | phone }}</span><br>
                            </ng-container>
                        </div>
                        <div class="col-md-6 company-info">
                            <span>Email(s):</span>
                            <ng-container *ngFor="let email of member?.email">
                            <span class="badge badge-secondary d-inline-block mb-2 shadow-none">{{ email }}</span><br>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                
                <ng-container *ngIf="tab === 'statements'">
                <h5><b>Statements</b></h5>
                <hr>
                    <button class="btn btn-block peach-gradient waves-effect" [disabled]="!company?.app"
                    (click)="downloadFile(company?.app)">Filled Application</button>
                    <ng-container *ngFor="let period of periods;">
                    <button class="btn blue-gradient btn-block waves-effect" data-toggle="collapse" [attr.data-target]="'#st' + period" aria-expanded="false"
                    [attr.aria-controls]="'st' + period">{{ period }}</button>
                            
                            <!-- Collapsible element -->
                            <div class="collapse" [id]="'st' + period">
                                <div class="mt-3">
                                    <ul class="list-group">
                                        <li class="list-group-item peach-gradient text-center text-white">Bank Statements</li>
                                        <li class="list-group-item clickable"
                                        *ngFor="let statement of filterStatement(company?.bankStatements, period)" (click)="downloadFile(statement.name)">
                                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }} <span class="float-right text-success">{{ statement?.quantity | number }}</span></li>
                                    </ul>
                                    <ul class="list-group">
                                        <li class="list-group-item aqua-gradient text-center text-white">Card Statements</li>
                                        <li class="list-group-item clickable"
                                        *ngFor="let statement of filterStatement(company?.cardStatements, period)" (click)="downloadFile(statement.name)">
                                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }}</li>
                                    </ul>
                                    <ul class="list-group">
                                        <li class="list-group-item aqua-gradient text-center text-white">Additional Accounts</li>
                                        <li class="list-group-item clickable"
                                        *ngFor="let statement of filterStatement(company?.additionalAccounts, period)" (click)="downloadFile(statement.name)">
                                        <i class="dripicons-document mr-2"></i>{{ shortName(statement.name) }}</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- / Collapsible element -->
                    </ng-container>
                
                </ng-container>
                
                <ng-container *ngIf="tab === 'documents'">
                <h5><b>Other Documents</b></h5>
                <hr>
                <div class="card text-white text-center peach-gradient clickable">
                    <div class="card-body">
                    <h4 class="m-0"><label for="attachment" class="m-0"> <i class="fas fa-upload"></i> Upload Attachment<span class="badge badge-primary"></span></label></h4>
                    <input class="d-none" id="attachment" type="file" (change)="uploadFile($event, 'attachments/')">
                    </div>
                </div>

                <div class="d-flex justify-content-center" *ngIf="loadingAttachments">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <app-infobox [info]="infoAttachments"></app-infobox>
                <ul class="list-group" *ngFor="let attachment of attachments;">
                    <li class="list-group-item">
                    <span class="clickable" (click)="downloadFile(attachment.Key)">
                        <i class="dripicons-document mr-2"></i>{{ shortName(attachment.Key) }}
                    </span>
                    <span class="float-right clickable" (click)="deleteFile(attachment.Key)"><i class="far fa-times-circle"></i></span></li>
                </ul>
                </ng-container>

                <ng-container *ngIf="tab === 'deal'">
                    <h5><b>Create Deal</b></h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="dealForm" (ngSubmit)="sendDeal()" autocomplete="off">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-form">
                                        <input type="number" class="form-control" formControlName="quantity" [ngClass]="{'is-invalid': isInvalidInput(getInput('quantity')) }">
                                        <label>Is looking for</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="d-block">Territories</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="PR" (click)="changeTerritory('PR')">
                                            <label class="custom-control-label" for="PR">PR</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="USA" (click)="changeTerritory('USA')">
                                            <label class="custom-control-label" for="USA">USA</label>
                                        </div>
                                        
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="CANADA" (click)="changeTerritory('CANADA')">
                                            <label class="custom-control-label" for="CANADA">CANADA</label>
                                        </div>
            
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="UK" (click)="changeTerritory('UK')">
                                            <label class="custom-control-label" for="UK">UK</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-form">
                                        <div class="md-form">
                                            <select name="status" class="form-control" formControlName="source">
                                                <option value="Google">Google</option>
                                                <option value="Facebook">Facebook</option>
                                                <option value="Instagram">Instagram</option>
                                                <option value="Linkedin">Linkedin</option>
                                                <option value="Cold Call">Cold Call</option>
                                                <option value="Email">Email</option>
                                                <option value="">Referral Others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <ng-container *ngIf="sources.indexOf(getInput('source').value) === -1">
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <div class="md-form">
                                                <input type="text" class="form-control" ngModel #other="ngModel" name="other"
                                                [ngModelOptions]="{standalone: true}" (keyup)="setReferral(other.value)"
                                                [ngClass]="{'is-invalid': isInvalidInput(getInput('source')) }" >
                                                <label>Please Explain</label>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <div class="col-md-12">
                                    <button class="btn btn-secondary waves-effect waves-ligth"
                                    [disabled]="dealForm.invalid || getInput('territories').value.length <= 0 || sendingDeal" type="submit">CREATE DEAL
                                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="sendingDeal"></div></button>
                                    <app-infobox [info]="infoDeal"></app-infobox>
                                </div>
                            </div>
                        </form> 
                        </div>
                    </div>
                    </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="downloadFIle"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="downloadFIle">Downloading, please wait</h5>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" *ngIf="downloading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <app-infobox [info]="infoFile"></app-infobox>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!downloading" data-dismiss="modal">OK</button>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="uploadModal">Loading File, please wait</h5>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" *ngIf="uploading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <app-infobox [info]="loadingFile"></app-infobox>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!uploading" data-dismiss="modal">OK</button>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteModal">Deleting File, please wait</h5>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" *ngIf="deleting">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <app-infobox [info]="deletingFile"></app-infobox>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!deleting" data-dismiss="modal">OK</button>
    </div>
    </div>
</div>
</div>