<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">    
            <button (click)="tab = 'senders'" class="btn btn-sm btn-default" *ngIf="tab === 'postman'">POSTMAN</button>
            <button (click)="tab = 'postman'" class="btn btn-sm btn-default" *ngIf="tab === 'senders'">SENDERS</button>
        </div>
    </div>
</div>
<div class="row" *ngIf="tab !== 'senders'">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">Filters</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div  class="md-form">
                            <input type="date" class="form-control" [(ngModel)]="filters.from" (change)="getPostman()">
                            <label>From</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div  class="md-form">
                            <input type="date" class="form-control" [(ngModel)]="filters.to" (change)="getPostman()">
                            <label>To</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-infobox [info]="info"></app-infobox>
    <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ng-container *ngIf="tab === 'postman'">
                <div class="table-responsive" *ngIf="!loading">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Subject</th>
                                <th>Attachments</th>
                                <th>Sended</th>
                                <th>By</th>
                                <th>Attempts</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mail of postman">
                                <td><a [routerLink]="['/postman/details/', mail?._id]"><p>{{ mail?.subject }}</p></a></td>
                                <td><span class="d-block"> {{ mail?.attachments?.length }}</span></td>
                                <td><span class="d-block p-2 peach-gradient text-white text-center rounded-sm shadow-sm waves-effect waves-ligth">{{ mail?.sended }}</span></td>
                                <td>{{ mail?.insertBy?.name }}</td>
                                <td>{{ mail?.attempts?.length }}</td>
                                <td>{{ mail?.createdOn | date: 'dd MMM, yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <div class="col-lg-12">
                        <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
                    </div>
                </div>
                </ng-container>

                <ng-container *ngIf="tab === 'senders'">
                    <form [formGroup]="senderForm" (ngSubmit)="createSender()">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="md-form">
                                    <input type="text" class="form-control" formControlName="address"
                                    [ngClass]="{'is-invalid': isInvalidInput(getInput('address')) }">
                                    <label>Address</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="md-form">
                                    <input type="password" class="form-control" formControlName="password"
                                    [ngClass]="{'is-invalid': isInvalidInput(getInput('password')) }">
                                    <label>Password</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-success btn-block" [disabled]="sending || senderForm.invalid">
                                <div class="spinner-border spinner-border-sm" role="status" *ngIf="sending"></div> ADD</button>
                            </div>
                            <div class="col-lg-12">
                                <app-infobox [info]="infoSender"></app-infobox>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Address</th>
                                <th>Relays</th>
                                <th>Last Used</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let address of addresses">
                                <td>{{ address?.address }}</td>
                                <td>{{ address?.relays }}</td>
                                <td>{{ (address?.lastUsed | date: 'dd MMM, yyyy h:mm s a') || 'never' }}</td>
                                <td>{{ address?.createdOn | date: 'dd MMM, yyyy h:mm a' }}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>