<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Activities</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div  class="md-form">
                            <input type="date" class="form-control" [(ngModel)]="filters.from" (change)="getActivities()">
                            <label>From</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div  class="md-form">
                            <input type="date" class="form-control" [(ngModel)]="filters.to" (change)="getActivities()">
                            <label>To</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-infobox [info]="info"></app-infobox>
    <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" *ngIf="!loading">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Priority</th>
                                <th>IP</th>
                                <th>USER</th>
                                <th>METHOD</th>
                                <th>Location</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let activity of activities">
                                <td>{{ activity?.priority }}</td>
                                <td><a [routerLink]="['/activities/details/', activity?._id]"><p>{{ activity?.ip }}</p></a></td>
                                <td><span class="d-block"> {{ activity?.user?.name || 'Unknown' }}</span></td>
                                <td><a [routerLink]="['/activities/details/', activity?._id]"><span class="d-block p-2 peach-gradient text-white text-center rounded-sm shadow-sm waves-effect waves-ligth">{{ activity?.method }}</span></a></td>
                                <td><a [routerLink]="['/activities/details/', activity?._id]">{{ activity?.url | slice: 1:60 }}...</a></td>
                                <td>{{ activity?.createdOn | date: 'dd MMM, yyyy - h:mm a' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <div class="col-lg-12">
                        <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>