<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Banks Lists</h4>
            <button class="btn btn-sm btn-default" [routerLink]="['/bankslists/add']">CREATE NEW</button>
        </div>
    </div>
</div>

<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" *ngIf="!loading">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Banks</th>
                                <th>By</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of lists">
                                <td><a [routerLink]="['/bankslists/details/', list?._id]"><p>{{ list?.name }}</p></a></td>
                                <td><span class="d-block"> {{ list?.banksIDs?.length }}</span></td>
                                <td>{{ list?.insertBy?.name }}</td>
                                <td>{{ list?.createdOn | date: 'dd MMM, yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>