<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Add Contacts to List</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="contactList">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <p>List Name: {{ contactList?.name }}</p>
                <p>assigned To: {{  contactList?.assignedTo?.name }}</p>
                <button class="btn btn-primary shadow-none btn-block" 
                [disabled]="importedContacts.length <= 0"
                (click)="createContacts()">UPLOAD CONTACTS <div class="spinner-border spinner-border-sm" role="status" *ngIf="sending"></div></button>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">CSV</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01"
                        (change)="changeListener($event.target.files)"
                        aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
                <div class="mt-5">
                    <h5 class="text-center">Your CSV needs to have the following structure</h5>
                    <table class="table">
                        <thead class="black  white-text">
                        <tr>
                            <th scope="col">name</th>
                            <th scope="col">companyName</th>
                            <th scope="col">phone</th>
                            <th scope="col">email</th>
                            <th scope="col">address</th>
                            <th scope="col">state</th>
                            <th scope="col">zip</th>
                        </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let contact of importedContacts">
                            <tr>
                              <th>{{ contact?.name }}</th>
                              <td>{{ contact?.companyName }}</td>
                              <td>{{ contact?.phone }}</td>
                              <td>{{ contact?.email }}</td>
                              <td>{{ contact?.address }}</td>
                              <td>{{ contact?.state }}</td>
                              <td>{{ contact?.zip }}</td>
                            </tr>
                            </ng-container>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>