<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Calendar</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">

                <ng-container *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])">
                <h5>User</h5>
                <hr>
                <div class="form-group">
                    <select name="user" class="form-control" [(ngModel)]="filters.assignTo" (change)="getTasks()">
                        <option *ngFor="let user of users" [value]="user?._id">{{ user?.name }}</option>
                    </select>
                </div>
                </ng-container>

                <h5>Tasks</h5>
                <hr>
                <button class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#createTask">ADD TASK</button>
                <div class="scrollbar scrollbar-primary">
                    <div class="list-group task-list">
                        <a *ngFor="let task of tasks" (click)="handleEvent('', task)" class="list-group-item list-group-item-action"><h6>{{ task?.title }}
                            <br *ngIf="task?.reference">{{ task?.reference?.companyID?.name }}</h6>
                            <span class="text-muted">{{ task?.reminderDate | date: 'dd MMM, yyyy' }} - {{ task?.status }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
            <div class="row text-center">
                <div class="col-lg-4">
                    <div class="btn rounded btn-md shadow-none" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" >
                        <i class="dripicons-chevron-left"></i>
                    </div>
                    <div class="btn rounded btn-md shadow-none" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" >
                        <i class="dripicons-chevron-right"></i>
                    </div>
                    <div class="btn btn-outline-primary btn-sm" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                        Today
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
                </div>
                <div class="col-lg-4">
                    <div class="btn-group">
                        <div class="btn btn-sm shadow-none" (click)="changeFilter('completed')" 
                        [ngClass]="{'btn-primary': filters.status === 'completed'}">COMPLETE</div>
                        <div class="btn btn-sm shadow-none" (click)="changeFilter('incomplete')"
                        [ngClass]="{'btn-primary': filters.status === 'incomplete'}">INCOMPLETE</div>
                        <div class="btn btn-sm shadow-none" (click)="changeFilter('all')"
                        [ngClass]="{'btn-primary': !filters?.status}">ALL</div>
                    </div>
                </div>
            </div>
            
            <mwl-calendar-month-view [refresh]="refresh" [events]="events" [viewDate]="viewDate" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('openmodal', $event.event)"></mwl-calendar-month-view>
        </div>
    </div>
</div>

<div class="modal fade" id="viewTask" role="dialog" aria-labelledby="viewTask" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewTask">{{ selectedTask?.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ selectedTask?.description }}
                <ng-container *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT']); else referenceUser">
                <a data-dismiss="modal" [routerLink]="['/deals/details', selectedTask?.reference?._id]" *ngIf="selectedTask?.reference"
                class="d-block mt-2">Reference: {{ selectedTask?.reference?.companyID?.name }}</a>
                </ng-container>

                <ng-template #referenceUser>
                    <a data-dismiss="modal" [routerLink]="['/companies/details', selectedTask?.reference?.companyID?._id]" *ngIf="selectedTask?.reference"
                    class="d-block mt-2">Reference: {{ selectedTask?.reference?.companyID?.name }}</a>
                </ng-template>
                
                <span class="text-muted d-block mt-3">{{ selectedTask?.reminderDate | date: 'dd MMM, yyyy h:mm a' }}</span>
                <app-infobox [info]="info"></app-infobox>
            </div>
            <div class="modal-footer">
                <button *ngIf="selectedTask?.status === 'incomplete'" class="btn btn-success btn-md" [disabled]="deleting || updating" (click)="markAsDone()">
                <div class="spinner-border spinner-border-sm" role="status" *ngIf="updating"></div> MARK AS DONE</button>
                <button class="btn btn-danger btn-md" [disabled]="deleting || updating" (click)="deleteTask()">
                <div class="spinner-border spinner-border-sm" role="status" *ngIf="deleting"></div> DELETE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createTask" role="dialog" aria-labelledby="createTask" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createTask">CREATE TASK</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="taskForm" (ngSubmit)="createTask()">
                        <div class="md-form">
                            <input type="text" class="form-control" formControlName="title"
                            [ngClass]="{'is-invalid': isInvalidInput(getInput('title')) }">
                            <label>Title</label>
                        </div>
                        <div class="md-form">
                            <textarea class="form-control md-textarea" cols="30" rows="10" formControlName="description"
                            [ngClass]="{'is-invalid': isInvalidInput(getInput('description')) }"></textarea>
                            <label>Description</label>
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input class="form-control" type="datetime-local" formControlName="reminderDate"
                            [ngClass]="{'is-invalid': isInvalidInput(getInput('reminderDate')) }">
                        </div>
                        <div class="md-form" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])">
                            <select name="user" class="form-control" formControlName="assignTo"
                            [ngClass]="{'is-invalid': isInvalidInput(getInput('assignTo')) }">
                                <option *ngFor="let user of users" [value]="user?._id">{{ user?.name }}</option>
                            </select>
                        </div>
                        <button class="btn btn-success btn-md" type="submit" [disabled]="creating || taskForm.invalid">
                        <div class="spinner-border spinner-border-sm" role="status" *ngIf="creating"></div> CREATE TASK</button>
                    </form>
                    <app-infobox [info]="infoCreating"></app-infobox>
                </div>
            </div>
        </div>
    </div>