.main-menu-inner .menu-body { overflow: auto; }@import "../node_modules/angular-calendar/css/angular-calendar.css";

* { outline: 0!important; outline-color: initial !important; outline-style: initial !important; outline-width: 0px !important; }
html { position: relative; min-height: 100%; background-color: #eaf0f7; }
body { margin: 0!important; overflow-x: hidden!important; font-size: 13px!important; background-color: #eaf0f7!important; font-family: Poppins,sans-serif!important; color: #50649c!important; }
.enlarge-menu .left-sidenav { display: none!important; }
.enlarge-menu .topbar .topbar-left { margin-left: 0; width: 240px; }
.topbar { left: 0; position: fixed; right: 0; top: 0; z-index: 999; }
.topbar .topbar-left .logo { line-height: 70px; }
.topbar .topbar-left { background-color: #fff; float: left; text-align: center; height: 70px; position: relative; width: 230px; z-index: 1; margin-left: 70px; }
.navbar-custom .topbar-nav li { float: left; }
.navbar-custom .nav-link { padding: 0 .75rem; color: #828db1; line-height: 70px; max-height: 70px; }
.navbar-custom .nav-link .nav-icon { font-size: 18px; }
.button-menu-mobile { border: none; color: #fff; width: 60px; background-color: transparent; cursor: pointer; }
.app-search { position: relative; padding-top: 18px; margin-left: 20px; }
.app-search .form-control, .app-search .form-control:focus { border: 1px solid #fff; font-size: 13px; height: 34px; color: #50649c; padding-left: 20px; padding-right: 40px; background: #f1f5fa; -webkit-box-shadow: none; box-shadow: none; border-radius: 40px; width: 300px; }
.navbar-custom { background: #fff; padding: 0 10px 0 0; margin-left: 240px; min-height: 70px; position: relative; -webkit-box-shadow: 0 0 3px rgba(31,30,47,.05); box-shadow: 0 0 3px rgba(31,30,47,.05); }
.left-sidenav { min-width: 300px; max-width: 300px; background-color: #fff; min-height: calc(100vh - 70px); -webkit-box-shadow: 0 0 3px rgba(31,30,47,.05); box-shadow: 0 0 3px rgba(31,30,47,.05); -webkit-transition: .3s; transition: .3s; }
.page-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; padding-top: 70px; }
.left-sidenav .main-icon-menu { display: -webkit-box; display: -ms-flexbox; display: flex; }
.left-sidenav .main-icon-menu { width: 70px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 20px 0; background-color: #df3d24; height: 100%; z-index: 500; position: fixed; top: 0; }
.left-sidenav .main-icon-menu .nav { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 5px 0; margin-top: 70px; }
.left-sidenav .main-icon-menu .nav-link { text-align: center; position: relative; padding: 0; color: #fff; width: 40px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.left-sidenav .main-icon-menu i { font-size: 22px; color: #ff705a; }
.main-menu-inner { width: 230px; height: 100%; background-color: #fff; border-right: 1px solid #d4d8e1; position: fixed; top: 0; left: 70px; z-index: 600; }
.main-menu-inner .menu-body { padding-top: 20px; height: calc(100vh - 68px)!important; margin-top: 70px; }
.page-content { width: 100%; position: relative; min-height: calc(100vh - 70px); padding: 0 10px 60px 10px; }
.main-icon-menu-pane.active { display: block; }
.main-icon-menu-pane { margin-bottom: 20px; }
.main-menu-inner .menu-body .nav-item { position: relative; display: block; }
.main-menu-inner .menu-body .nav { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.main-menu-inner .menu-body .nav-link { position: relative; color: #7c92a7; font-size: 13px; padding: 0px 0px 0px 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 44px; }
.main-menu-inner .menu-body .nav-link i { color: #7c92a7; font-size: 15px; line-height: 0; margin-right: 10px; }
.main-menu-inner .menu-body .nav-link:focus, .main-menu-inner .menu-body .nav-link:focus i, .main-menu-inner .menu-body .nav-link:hover, .main-menu-inner .menu-body .nav-link:hover i { color: #7496f8; }
.nav-user img { height: 40px; width: 40px; }
.dropdown-menu { padding: 4px 0!important; font-size: 13px!important; -webkit-box-shadow: 0 3px 12px rgba(182,194,228,.05)!important; box-shadow: 0 3px 12px rgba(182,194,228,.05)!important; border-color: #eff2f9!important; margin: 0!important; }
.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:hover { color: #2f4686!important; text-decoration: none; background-color: #f7f7f7!important; }
.dropdown-menu .dropdown-item { padding: 6px 24px; }
.left-sidenav .main-icon-menu .nav-link.active:before { content: "\f04d"; font-family: "Font Awesome 5 Free"; font-weight: 600!important; position: absolute; left: 53px; top: 20px; font-size: 40px; line-height: 0; color: #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
app-root .text-muted, .looking-for .text-muted, .auth-form .text-muted, .text-muted { color: #a4abc5!important; }
.footer { border-top: 1px solid #dbe0ec; bottom: 0; padding: 20px; position: absolute; right: 0; left: 0; color: #7081b9; }
.topbar .topbar-left .logo .logo-lg { height: 50px; margin-left: 2px; }
.topbar .topbar-left .logo .logo-sm { height: 50px; vertical-align: middle; }
.main-menu-inner .menu-body .nav-item .nav-link.active, .main-menu-inner .menu-body .nav-item .nav-link.active i { color: #4d79f6; }
.header-title, .title-text { margin-bottom: 8px; text-transform: capitalize; letter-spacing: .02em; font-size: 15px; font-weight: 500; margin-top: 0; color: #50649c; text-shadow: 0 0 1px rgba(239,242,249,.1); }
@media (max-width: 1024px) { 
    .topbar .topbar-left .logo-lg { display: none; }
    .topbar .topbar-left { width: 70px; }
    .topbar .navbar-custom { margin-left: 70px; }
    .left-sidenav { position: fixed; top: 70px; overflow-y: auto; z-index: 1; bottom: 0; }
    .enlarge-menu .topbar .topbar-left { margin-left: 0; width: 70px; }
}
@media (max-width: 767px) { .app-search, .hidden-sm { display: none; } }
.app-search a { position: absolute; top: 18px; right: 0; display: block; height: 34px; line-height: 34px; width: 34px; text-align: center; background: #f1f5fa; border: 1px solid #fff; border-radius: 50%; color: #8997bd; }
.page-title-box { padding: 25px 0; }
.page-title-box .page-title { font-size: 18px; margin: 0; color: #50649c; font-weight: 500!important; }
.card { margin-bottom: 24px; border: none!important; -webkit-box-shadow: 0 0 3px rgba(31,30,47,.05)!important; box-shadow: 0 0 3px rgba(31,30,47,.05)!important; border-radius: 3px!important; background-color: #fff!important; }
.text-info { color: #9ba7ca!important; }
.clickable { cursor: pointer;}
.circle-counter { width: 140px; height: 140px; border-radius: 140px; text-align: center; display: block; margin: auto; line-height: 140px; font-size: 22px; font-weight: 500; }
ul.circle-style li { display: inline-block; width: 60px; height: 60px; margin: 5px; border-radius: 100px; text-align: center; line-height: 60px; color: #fff; }
.card a { color: inherit; }
.thumb-xl { height: 78px; width: 78px; }
.client-card .client-name { color: #50649c; }
.btn-soft-secondary { background-color: rgba(74,199,236,.15)!important; color: #4ac7ec!important; }
.user-profile-bg { background-image: url(./assets/pattern2.png); background-repeat: repeat; }

/* User */
.met-profile .met-profile-main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.met-profile .met-profile-main .met-profile_user-detail .met-user-name { font-size: 24px; font-weight: 600; color: #fff; margin-bottom: 6px; }
.met-profile .met-profile-main .met-profile_user-detail .met-user-name-post { color: #a4abc5; }
.met-profile .met-profile-main .met-profile-main-pic .fro-profile_main-pic-change { cursor: pointer; background-color: #4d79f6; border-radius: 50%; width: 32px; height: 32px; position: absolute; bottom: 4px; right: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-shadow: 0 0 20px 0 rgba(243,246,247,.05); box-shadow: 0 0 20px 0 rgba(243,246,247,.05); }
.met-profile .met-profile-main .met-profile-main-pic { position: relative; max-width: 128px; max-height: 128px; margin-right: 24px; }
.font-18 { font-size: 18px!important; }
.form-control { font-size: 13px!important; border-color:#e8ebf3!important; height: calc(2.3rem + 2px)!important; color: #2f5275!important; }

/* Table */
.table .thead-light th { color: #50649c!important; background-color: #eff2f9!important; border-color: #eaf0f7!important; font-weight: 500!important; font-size: 13px!important; }
.table td, .table th { padding: .75rem!important; }
table.table td { font-size: 13px!important; border-top: 1px solid #eaf0f7!important; color: #7286a2!important; }
td h5 { color: #50649c!important; }
.md-form { margin: 5px 0px 15px!important; }
.md-form label { font-size: 14px!important; color: #50649c!important; }
.btn-circle { border-radius: 60px!important; height: 60px!important; width: 60px!important; padding: 0px!important; line-height: 60px!important; font-size: 22px; background: #919599!important; color: #fff!important; }
ul.list-inline li { display: inline-block; }

ul.company-info li:hover, ul.company-info li .active { background: #eaf0f7; border-radius: .25rem!important; color: #4d79f6; }
.company-info span { padding-bottom: 4px; display: block; }
.company-info .badge { font-size: 14px; letter-spacing: 1px; }

/* Auth */
.auth-page { max-width: 460px; position: relative; margin: 0 auto; }
.auth-card { border-radius: 20px!important; }
.auth-card .auth-logo-box { position: absolute; left: 0; right: 0; top: -25px; text-align: center; }
.auth-logo-circle { padding: 10px; background: #fff; display: inline-block; border-radius: 100px; overflow: hidden; }
.auth-form .form-control { border-radius: 50px!important; padding-right: 40px; }
.auth-form .auth-form-icon { width: 32px; height: 32px; background-color: #eff2f9; text-align: center; line-height: 32px; border-radius: 50%; position: absolute; right: 3px; z-index: 100; top: 3px; color: #9ba7ca; }
.btn-round { border-radius: 30px!important; }

.looking-for .wallet-title { font-size: 16px; color: #50649c; font-weight: 500!important; }
.box-status { width: 45px; height: 45px; display: block; line-height: 53px; text-align: center; border-radius: 12%; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.box-status:before { -webkit-transform: rotate(-45deg)!important; transform: rotate(-45deg)!important; display: inline-block; font-size: 18px; font-family: "dripicons-v2" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.box-success { color: #1ecab8!important; background: #e2fbf8!important; }
.box-success:before { content: "\53"!important; }
.box-onhold { color: #7551e9; background-color: #f3effd; }
.box-onhold:before { content: "\59"!important; }
.box-rejected { color: #ff5da0; background-color: #ffecf4; }
.box-rejected:before { content:"\39"!important; }
.box-replied { color: #f3c74d; background-color: #fdf4dc; }
.box-replied:before { content: "\5e"!important; }

/* Timeline */
.main-timeline { overflow: hidden; position: relative; }
.main-timeline:before { content: ""; width: 3px; height: 100%; background: #f1f5fa; position: absolute; top: 0; left: 50%; }
.main-timeline .timeline { padding-right: 30px; position: relative; }
.main-timeline .timeline:first-child:before, .main-timeline .timeline:last-child:before { content: ""; width: 13px; height: 13px; border-radius: 50%; border: 2px solid #f1f5fa; background: #fff; margin: 0 auto; position: absolute; top: 0; left: 0; right: -3px; }
.main-timeline .timeline:after, .main-timeline .timeline:before { content: ""; display: block; width: 100%; clear: both; }
.main-timeline .timeline-icon { width: 18px; height: 18px; border-radius: 50%; background: #fff; border: 2px solid #f1f5fa; -webkit-box-sizing: content-box; box-sizing: content-box; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: -4px; }
.main-timeline .timeline-icon:before { content: ""; display: block; width: 8px; height: 8px; border-radius: 50%; background: #4ac7ec; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.main-timeline .year { display: inline-block; padding: 8px 20px; margin: 0; font-size: 14px; color: #fff; background: #4ac7ec; text-align: center; position: absolute; top: 50%; right: 35%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.main-timeline .year:before { content: ""; border-right: 18px solid #4ac7ec; border-top: 18px solid transparent; border-bottom: 18px solid transparent; position: absolute; top: 0; left: -18px; }
.main-timeline .timeline-content { width: 46.5%; padding: 20px; margin: 0 20px 0 0; background: #f1f5fa; position: relative; }
.main-timeline .title { float: left; font-size: 14px; font-weight: 500!important; color: #435177; margin: 0 20px 20px 0; }
.main-timeline .post { display: inline-block; font-size: 13px; color: #50649c; }
.main-timeline .description { font-size: 14px; color: #50649c; line-height: 24px; margin: 0; clear: both; }
.main-timeline .timeline-content:after { content: ""; border-left: 20px solid #f1f5fa; border-top: 20px solid transparent; border-bottom: 20px solid transparent; position: absolute; top: 50%; right: -20px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.main-timeline .timeline:nth-child(2n) { padding: 0 0 0 30px; }
.main-timeline .timeline:nth-child(2n) .timeline-content { float: right; margin: 0 0 0 20px; }
.main-timeline .timeline:nth-child(2n) .timeline-content:after { border-left: none; border-right: 20px solid #f1f5fa; right: auto; left: -20px; }
.main-timeline .timeline:nth-child(2n) .year { right: auto; left: 35%; }
.main-timeline .timeline:nth-child(2n) .year:before { border: 18px solid transparent; border-right: none; border-left: 18px solid #4ac7ec; left: auto; right: -18px; }

@media only screen and (max-width: 767px) {
    .main-timeline:before { left: 10px; }
    .main-timeline .timeline { padding: 0 0 0 30px; margin-bottom: 20px; }
    .main-timeline .timeline-icon { margin: 0; position: absolute; top: 7px; left: 0; }
    .main-timeline .timeline:nth-child(2n) .year, .main-timeline .year { display: block; font-weight: 700!important; margin: 0 0 32px 30px; z-index: 1; position: relative; top: auto; left: auto; right: auto; -webkit-transform: none; transform: none; }
    .main-timeline .timeline-content, .main-timeline .timeline:nth-child(2n) .timeline-content { width: auto; float: none; margin: 0 0 0 30px; }
    .main-timeline .timeline-content { padding: 20px; }
    .main-timeline .timeline-content:after, .main-timeline .timeline:nth-child(2n) .timeline-content:after { border: none; border-bottom: 20px solid #f1f5fa; border-left: 20px solid transparent; border-right: 20px solid transparent; top: -20px; left: 50%; right: auto; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
}

@media only screen and (max-width: 1200px) {
    .main-timeline .year { right: 30%; }
    .main-timeline .timeline:nth-child(2n) .year { left: 30%; }
}

.main-timeline .timeline:last-child:before { top: auto; bottom: 0; }
.main-timeline .timeline:after, .main-timeline .timeline:before { content: ""; display: block; width: 100%; clear: both; }
.upload-camera { position: absolute; bottom: -20px; right: 0; background: #df3d24; height: 50px; width: 50px; border-radius: 50px; text-align: center; line-height: 53px; font-size: 20px; color: #fff; }
.cal-month-view .cal-open-day-events { background: #df3d24!important; box-shadow: none!important; }
.task-list .list-group-item { border: 1px solid #f1eff5; background-color: #fff; }
.data-icon { text-align: center; }
.data-icon i { font-size: 22px; line-height: 53px; display: inline-block; width: 48px; height: 48px; }

.bg-soft-warning { background-color: rgba(243,199,77,.15)!important; color: #f3c74d!important; }
.bg-soft-success { background-color: rgba(30,202,184,.15)!important; color: #1ecab8!important; }
.bg-soft-secondary { background-color: rgba(74,199,236,.15)!important; color: #4ac7ec!important; }
.bg-soft-pink { background-color: rgba(255,93,160,.15)!important; color: #ff5da0!important; }
.scrollbar { height: 450px; overflow-y: scroll; }
.scrollbar-primary::-webkit-scrollbar { width: 12px; background-color: #F5F5F5; }
.scrollbar-primary::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); background-color: #4285F4; }
.alert { word-break: break-all; }
p.big { font-size: 30px; margin-bottom: 0px; }
.font-12 { font-size: 12px!important; }
.main-menu-inner .menu-body { overflow: auto; }