<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">
            <ng-container *ngIf="mail?.status"><span class="badge badge-default p-2">{{ mail?.status }}</span></ng-container> Mail Details</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center mb-5" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading && mail">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <ul class="nav company-info flex-column lighten-4 pb-4">
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active': tab === 'mail' }" (click)="tab='mail'">
                            <i class="dripicons-mail mr-1"></i> Email</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active': tab === 'attemps' }" (click)="tab='attemps'">
                            <i class="dripicons-help mr-1"></i> Attemps</a>
                        </li>
                    </ul>
                    <hr>
                    <h5><b>Submitted By</b></h5>
                    <p>{{ mail?.insertBy?.name }} <span class="d-inline-block py-1 px-1 peach-gradient text-white text-center rounded-sm shadow-sm">{{ mail?.insertBy?.role }}</span></p>
                    <p>{{ mail?.createdOn | date: 'dd MMM, yyyy' }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <ng-container *ngIf="tab === 'mail'">
                        <h5><b>Email details</b></h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 company-info">
                                <label>Subject:</label>
                                <h5>{{ mail?.subject }}</h5>
                            </div>
                            <div class="col-md-12 company-info">
                                <label>From:</label>
                                <p>{{ mail?.from }}</p>
                            </div>
                            <div class="col-md-12 company-info">
                                <span>Not sent:</span>
                                <span class="badge badge-secondary d-inline-block mb-2 mr-2 shadow-none" *ngFor="let to of mail?.to">{{ to }}</span>
                            </div>
                            <div class="col-md-12 company-info">
                                <span>Sent:</span>
                                <span class="badge badge-secondary d-inline-block mb-2 mr-2 shadow-none" *ngFor="let sent of mail?.sendedTo">{{ sent }}</span>
                            </div>
                            <div class="col-md-12 company-info">
                                <div class="form-group">
                                    <span>Message</span>
                                    <textarea cols="30" rows="10" class="form-control" readonly style="height: auto!important;">{{ mail?.body }}</textarea>
                                </div>
                            </div>
                            <div class="col-md-12 company-info">
                                <label>Attachments:</label>
                                <p *ngFor="let attach of mail?.attachments">{{ shortName(attach) }}</p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="tab === 'attemps'">
                        <h5><b>Timeline</b></h5>
                        <hr>
                        <div class="main-timeline mt-3">
                            <div class="timeline" *ngFor="let attemp of sortByDate(mail?.attempts)">
                                <span class="timeline-icon"></span> <span class="year">{{ attemp?.triedAt | date: 'dd MMM, yyyy' }}</span>
                                <div class="timeline-content">
                                    <h5 class="title">Success: {{ attemp?.success }}</h5>
                                    <p class="description">{{ attemp?.reason }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>