<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Create List</h4>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="contactListForm" (ngSubmit)="sendContactList()" autocomplete="off">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="md-form">
                                <label>List Name</label>
                                <input class="form-control" type="text" formControlName="name" [ngClass]="{'is-invalid': isInvalidInput('name') }">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="m-0">Assign To</label>
                            <div class="md-form">
                                <select name="status" class="form-control" formControlName="assignedTo">
                                    <option *ngFor="let user of users" [value]="user._id">{{ user?.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" [disabled]="contactListForm.invalid" class="btn btn-primary btn-block">+ ADD LIST <div class="spinner-border spinner-border-sm" role="status" *ngIf="sending"></div></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>