<div class="main-menu-inner active">
<div class="menu-body">
    <div  class="main-icon-menu-pane active">
        <ul class="nav">
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/dashboard']">
            <i class="dripicons-view-thumb"></i>Dashboard</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/deals']" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])">
            <i class="dripicons-document"></i>Deals</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/deals/pending']" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])">
            <i class="fas fa-file-import"></i>Pending</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/companies']">
            <i class="dripicons-user-id"></i>Companies</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/companies/blacklist']">
            <i class="fas fa-ban"></i>Blacklist</a>
        </li>
        <!-- <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/applications']" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])">
            <i class="dripicons-checklist"></i>Applications</a>
        </li> -->
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active"  [routerLink]="['/banks']" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])">
            <i class="dripicons-suitcase"></i>Banks</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active"  [routerLink]="['/bankslists']" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])">
            <i class="fas fa-list"></i>Banks Lists</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/calendar']">
            <i class="dripicons-calendar"></i>Calendar</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/halloffame']">
            <i class="dripicons-trophy"></i>Hall of Fame</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/contact-list']">
            <i class="dripicons-view-list-large"></i>Contact List</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/reports']" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'SUPPORT'])">
            <i class="dripicons-graph-line"></i>Reports</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/postman']" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'SUPPORT'])">
            <i class="dripicons-mail"></i>Postman</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/users']" *ngIf="authRole(['SUPERADMIN', 'MANAGER', 'ADMIN', 'MANAGER'])">
            <i class="dripicons-user-group"></i>Users</a>
        </li>
        <li class="nav-item"><a class="nav-link waves-effect" routerLinkActive="active" [routerLink]="['/activities']" *ngIf="authRole(['SUPERADMIN'])">
            <i class="fas fa-search"></i>Activities</a>
        </li>
        </ul>
    </div>
</div>
</div>