<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Lists</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="filters.name" (keyup)="getLists()" autocomplete="off">
                            <label>Name</label>
                        </div>
                        <div class="md-form">
                            <button type="button" class="btn btn-primary" data-toggle="modal" [routerLink]="['/contact-list/add']">+ Add New</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="row" *ngIf="!loading">
    <div class="col-lg-6" *ngFor="let list of lists">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="media">
                            <div class="media-body align-self-center">
                                <a [routerLink]="['/contact-list/details', list?._id]"><h4 class="mt-0 mb-2 font-16">{{ list?.name }}</h4></a>
                                <ul class="list-inline mb-0 text-muted">
                                    <li class="list-inline-item mr-2">
                                        <span><i class="fas fa-user mr-2 text-info font-14"></i></span>{{ list?.assignedTo?.name }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 align-self-center">
                        <div class="text-right">
                            <a class="clickable" class="mr-2" [routerLink]="['/contact-list/edit', list?._id]"><i class="fas fa-plus text-info font-16"></i></a>
                            <a class="clickable" (click)="deleteID=list?._id" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="col-lg-12">
        <app-pagination [total]="total" [limit]="filters.limit" [skip]="filters.skip" (changePage)="changePage($event)"></app-pagination>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteList"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteList">Delete List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this list?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="deleting">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="deleteList()" [disabled]="deleting">
        <span *ngIf="deleting" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> DELETE</button>
    </div>
    </div>
</div>
</div>