<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Create Report</h4>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<app-infobox [info]="info"></app-infobox>
<div class="row" *ngIf="report">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="reportForm" (ngSubmit)="updateReport()" autocomplete="off">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Closing Amount: ${{ closingAmount | number }}</h4>
                            <ng-container class="mb-4" formArrayName="participants" *ngFor="let participant of getArray('participants'); let i = index;">
                                <ng-container [formGroupName]="i">
                                    <h5><i (click)="removeInArray('participants', i)" class="far fa-trash-alt"></i> Participant</h5>
                                    <hr>
                                    <label class="m-0">Beneficiary</label>
                                    <div class="md-form">
                                        <select name="status" class="form-control" formControlName="beneficiary">
                                            <option value="5d9d587d557b3a09646b6af3">BMF</option>
                                            <option *ngFor="let user of users" [value]="user._id">{{ user?.name }}</option>
                                        </select>
                                    </div>
                                    <label class="m-0">Concept</label>
                                    <div class="md-form">
                                        <select name="status" class="form-control" formControlName="concept">
                                            <option value="commision">Commision</option>
                                            <option value="psf">PSF</option>
                                        </select>
                                    </div>
                                    <label class="m-0">Status</label>
                                    <div class="md-form">
                                        <select name="status" class="form-control" formControlName="type">
                                            <option value="income">Income</option>
                                            <option value="expense">Expense</option>
                                        </select>
                                    </div>
                                    <div class="md-form">
                                        <input class="form-control" type="number" formControlName="amount"
                                        [ngClass]="{'is-invalid': isInvalidInput(participant.get('amount')) }">
                                        <label class="active">Amount</label>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <button class="btn btn-secondary" type="button" (click)="addParticipant()">ADD PARTICIPANT</button>
                        </div>
                        <div class="col-md-12">
                            <button  [disabled]="reportForm.invalid || getInput('participants').value.length <= 0 || sending" class="btn btn-primary btn-block">
                            <div class="spinner-border spinner-border-sm" role="status" *ngIf="sending"></div> SEND REPORT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>